<section id="share" class="mb-5">
  <div class="view jarallax text-center color-black" style="height: 200px; min-height: 200px">
    <img class="jarallax-img" src="https://staysanemom.s3-us-west-1.amazonaws.com/Backgrounds/white-wood.jpg" alt="">
    <div class="mask rgba-black-slight">
      <div class="container flex-center text-center py-5">
        <div class="row">

          <div class="col-12">
            <h2 class="section-title">Care to Share?</h2>
          </div> <!-- col -->

          <div class="col-12">
            <div class="fb-share-button pr-3"
              data-href="<%= polymorphic_url(@blog) %>"
              data-layout="button_count">
            </div>
            <a href="https://www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark"></a>
          </div> <!-- col -->

        </div> <!-- row -->
      </div> <!-- container -->
    </div> <!-- mask -->
  </div> <!-- jarallax -->
</section> <!-- subscribe -->
