<section id="share" class="z-under">
  <div class="container flex-center text-center py-5">
    <div class="row">

      <div class="col-12">
        <h2 class="section-title">Care to Share?</h2>
      </div> <!-- col -->

      <div class="col-12">
        <div class="fb-share-button pr-3"
          data-href="<%= polymorphic_url(@blog) %>"
          data-layout="button_count">
        </div>
        <a href="https://www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark"></a>
      </div> <!-- col -->

    </div> <!-- row -->
  </div> <!-- container -->
</section> <!-- subscribe -->
