<section id="subscribe" class="mb-5">
  <div class="view jarallax text-center color-black" style="height: 400px; min-height: 400px">
    <img class="jarallax-img" src="https://staysanemom.s3-us-west-1.amazonaws.com/Backgrounds/white-wood.jpg" alt="">
    <div class="mask rgba-black-slight">
      <div class="container flex-center text-center py-5">
        <div class="row">
          <div class="col-12">
            <h2>Get Sanity, Delivered to Your Inbox.</h2>
            <div class="click-simulator"><script async data-uid="229e74784f" src="https://f.convertkit.com/229e74784f/ac0fba8d30.js"></script></div>
          </div> <!-- col -->
        </div> <!-- row -->
      </div> <!-- container -->
    </div> <!-- mask -->
  </div> <!-- jarallax -->
</section> <!-- subscribe -->
