<div class="container">
  <h1 class="text-center font-script color-pink">Edit Blog</h1>
</div> <!-- container -->


<%= render 'form', blog: @blog %>


<div class="container text-center">
  <div class="half-buffer"></div>
  <%= link_to 'Show', @blog %> | <%= link_to 'Back', blogs_path %>
</div> <!-- container -->
