<% if blog.freebie_id %>
  <%= Freebie.find(blog.freebie_id).name %>
<% end %>

<%#= simple_form_for blog, :url => { controller: 'blogs', action: 'update_goody', method: :patch, :authenticity_token => true, :remote => true } do |f|%>
<%= simple_form_for blog, :url => update_goody_path(blog), method: :patch, authenticity_token: true, remote: true do |f| %>
  <% freebie_collection = [] %>
  <% Freebie.all.each do |lm| %>
    <% freebie_collection << ["#{lm.name}", "#{lm.id}"] %>
  <% end %>
  <div class="row text-left">
    <div class="form-group col-12 mb-0 pb-0">
      <%= f.input :freebie_id, label: false, prompt: "Choose a Related LM", input_html: { id: "lmFor" + blog.id.to_s, class: 'browser-default', onchange: "this.form.submit();" }, collection: freebie_collection, required: false %>
    </div>
  </div> <!-- row -->
<% end %>
