<div class="col-lg-4">
  <div class="card hoverable mb-4">
    <div class="card-body">
      <div class="row align-items-center">
        <div class="col-12 col-md-5 col-lg-12 px-4">
          <a>
            <% if goody.images.attached? %>
              <%= image_tag rails_blob_url(goody.images.last), style: "max-width: 100%" %>
            <% end %>
          </a>
        </div>
        <div class="col-12 col-md-7 col-lg-12">
          <h3><%= link_to goody.name, goody_path(goody) %><h3>
          <p><%= goody.description %></p>
        </div>
      </div>
    </div> <!-- col -->
  </div> <!-- row -->
</div>
