<!-- page-specific content -->
  <% title "Store | SSM" %>
<!-- page-specific content -->


<% if current_user && current_user.admin %>
  <div class="text-right px-5">
    <%= link_to 'Create a New Product', new_goody_path, class: "btn btn-danger" %>
  </div> <!-- right -->
<% end %>

<div class="container">
  <h1 class="py-3 text-center color-spouse font-script">Goodies</h1>

  <section>
    <div class="row">
      <div class="col-md-12">

        <% @goodies.each do |goody| %>
          <%= render partial: 'goodies/category_card', locals: { goody: goody } %>
        <% end %>



  </section> <!-- Section: Products v.5 -->


</div> <!-- container -->




<%= content_for :additional_js do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.view').matchHeight();
      $('.card-title').matchHeight();
      $('.card-text').matchHeight();
      $('.card').matchHeight();
    });
  </script>
<% end %>
