<div class="container text-white">
  <h2 class="section-title">About The Stay Sane Mom</h2>
  <div class="row">
    <div class="col-lg-4 text-center">
      <%= image_tag "liz-bayardelle-stay-sane-mom.jpg", class: "about-me-image" %>
      <%= link_to "The Stay Sane Mom Mission", static_path(:AboutMe), class: "btn btn-grey" %>
    </div> <!-- col -->
    <div class="col-lg-8">
      <div class="tilted-card">
        <h3>
          Hi I'm Mom...I mean Liz.
        </h3>
        <p>
          Hello there!  And welcome to The Stay Sane Mom! My name is Liz and I'm the wife/mom to a teenage stepdaughter (and Instagram aficionado), a sparkle-clad kidnado, a newly-toddler boy (and professional raccoon noise impersonator), two large canine furkids, a bunny of unusual size, and (if I don't vacuum daily) a herd of irascible dustbunnies.
        </p>
        <p>
          My "nights and naptimes" alterego is an author, freelance digital consultant, workout nut, avid bookworm, and has a PhD in Business Psychology.
        </p>
        <p>
          Oh yeah, I'm also the founder of The Stay Sane Mom.
        </p>
        <p>
          We're here to help you as a mom.  Whether that's giving you research-based systems to help your tribe run smoother, printable tools to help you stay organized, or just a wheelbarrow-load of sarcasm to get you through until bedtime...we've got your back, Mama.
        </p>
        <h4 class="h2 text-right font-script color-pink" style="margin-right: 30%">
          Stay Sane, Liz
        </h4>

      </div> <!-- tilted-card -->
    </div> <!-- col -->
  </div> <!-- row -->
</div> <!-- container -->
