<div class="container text-white">
  <h2 class="section-title">About The Stay Sane Mom</h2>
  <div class="row">
    <div class="col-md-4 text-center">
      <%= image_tag "liz-bayardelle-stay-sane-mom.jpg", class: "rounded-image" %>
      <h5><%= link_to "The SSM Mission", static_path(:AboutMe), class: "btn btn-neutral" %></h5>
    </div> <!-- col -->
    <div class="col-md-8">
      <p class="pb-3 font-weight-bold">
        Hello there!  My name is Liz, but I also answer to "Hey Honey?", "Mom", or (more often) "Mom Mom Mom MAAAAAHM!".
      </p>
      <p class="pb-3 font-weight-bold">
        I'm the wife/mom to a pack including a teenage stepdaughter (and Instagram aficionado), a sparkle-clad toddlernado, a baby boy (and professional raccoon noise impersonator), two large canine furkids, a bunny of unusual size, and (if I don't vacuum daily) a herd of dustbunnies.
      </p>
      <p class="pb-3 font-weight-bold">
        My "nights and naptimes" alterego is an author, freelance digital consultant, workout nut, avid bookworm, and has a PhD in Business Psychology.
      </p>
    </div> <!-- col -->
  </div> <!-- row -->
</div> <!-- container -->
