
<h2 class="display-2 lh-1">
  How We Help
</h2>

<p class="w-responsive mx-auto mb-5">
  We can't come watch your kids for you.  Or clean your house.  
  <br>
  But we do have three easy ways to make your life better.
</p>

<div class="row">

  <div class="col-sm-4 mb-4">
    <div class="card collection-card z-depth-1-half">
      <div class="view zoom">
        <img src="https://staysanemom.s3-us-west-1.amazonaws.com/Callouts/tools.jpg" class="img-fluid"
          alt="">
        <div class="stripe dark">
          <%= link_to page_path("tools") do %>
            <p>Online<br class="d-lg-none"> Tools
              <i class="fas fa-angle-right"></i>
            </p>
          <% end %>
        </div> <!-- stripe -->
      </div> <!-- Card image -->
    </div> <!-- Collection card -->
  </div> <!-- Grid column -->

  <div class="col-sm-4 mb-4">
    <div class="card collection-card z-depth-1-half">
      <div class="view zoom">
        <img src="https://staysanemom.s3-us-west-1.amazonaws.com/Callouts/resources.jpg" class="img-fluid"
          alt="">
        <div class="stripe dark">
          <%= link_to freebies_path do %>
            <p>Quick<br class="d-lg-none"> Fixes
              <i class="fas fa-angle-right"></i>
            </p>
          <% end %>
        </div> <!-- stripe -->
      </div> <!-- Card image -->
    </div> <!-- Collection card -->
  </div> <!-- Fourth column -->

  <div class="col-sm-4 mb-4">
    <div class="card collection-card z-depth-1-half">
      <div class="view zoom">
        <img src="https://staysanemom.s3-us-west-1.amazonaws.com/Callouts/store.jpg" class="img-fluid"
          alt="">
        <div class="stripe dark">
          <%= link_to solutions_path do %>
            <p>Full<br class="d-lg-none"> Systems
              <i class="fas fa-angle-right"></i>
            </p>
          <% end %>
        </div> <!-- stripe -->
      </div> <!-- Card image -->
    </div> <!-- Collection card -->
  </div> <!-- Grid column -->

</div> <!-- Grid row -->

