<div class="frame" style="background-image: url(<%= asset_path "keep_house_clean.jpg" %>)"></div>
<div class="over-frame-text convert-kit">
  <h1>Clean That House!</h1>
  <div class="over-frame-bottom-row">
    <div class="container">
      <h3 class="color-white text-center">Want 5 secret tips to get<br />(and keep) your house clean?</h3>
      <div class="text-center">
        <div class="half-buffer"></div>
        <a class="btn btn-outline-secondary" data-formkit-toggle="fc44272232" href="https://pages.convertkit.com/fc44272232/68b4312c1e">Get My Free Tips</a>
        <div class="buffer"></div>
      </div>
    </div>
  </div> <!-- over-frame-text -->
</div> <!-- over-frame-text -->

<div class="row">
  <div class="container">

  </div> <!-- page container -->
</div> <!-- row -->
