<div class="image-wrap text-center" id="wrapper">
  <%= image_tag "family.jpg", alt: "Responsive image" %>
</div>

<div class="row">
  <div class="container">

  </div> <!-- page container -->
</div> <!-- row -->
