<main id="homepage">

    <!-- Mashead header-->
    <header class="py-5 bg-flying-kid">
        <div class="container px-xl-5">
            <div class="row align-items-center">
                <div class="col-12 text-center">
                    <h1 class="color-pink display-3 lh-1">
                        Feel&nbsp;like&nbsp;yourself, even&nbsp;as the mom&nbsp;of&nbsp;small&nbsp;children.
                    </h1>
                    <p class="color-black">
                        We give moms immediate, easy-to-implement support that they can consume while cutting snacks, folding laundry, or driving to soccer practice.
                    </p>
                    <p class="color-black">
                        You deserve to feel fulfilled, happy, and whole, even while you are in the hardcore, child-dominated, bootcamp-level hellscape that is parenting.
                    </p>
                </div>
                <div class="col-12 text-center">
                    <%= link_to "Get Support", page_path("support"), class: "btn btn-pink btn-lg" %>
                </div>
            </div>
        </div>
    </header>





    <section id="results" class="bg-white text-center py-5 z-depth-3-y z-over">
        <div class="container">
            <div class="row">

                <div class="col-12 text-center">
                    <h2 class="h3">Need a mom friend right <em>freaking</em> now?</h2>
                </div> <!-- col -->

                <div class="col-md-4 text-center px-5 px-md-3">
                    <img class="w-100 classy-pic tilt-left my-4" src="https://staysanemom.s3.us-west-1.amazonaws.com/111-Sales+Images/SSM++Course++Sanity+Saver.png">
                </div> <!-- col -->

                <div class="col-md-8 text-center text-md-left">
                    <p>Sometimes you just need a breath.  You're about to go crazy and you just need another human who gets it.</p>
                    <p>That's me.  <em>*raises hand*</em></p>
                    <p>Get free, sanity saving videos, direct to your email inbox for the next 7 days.  These videos are all created to give you the support, companionship, and strategy you need.</p>
                    
                    <script async src="//tinder.thrivecart.com/embed/v1/thrivecart.js"></script><a data-thrivecart-account="linchpin-industries" data-thrivecart-tpl="v2" data-thrivecart-product="39" class="thrivecart-button btn btn-pink">Get Help Now</a>
                </div> <!-- col -->

            </div> <!-- row -->
        </div> <!-- container -->
    </section> <!-- results -->





    <!-- Liz's Note:  Eventually these will link to individual products. -->

    <section id="results" class="text-center py-5 z-under">
        <div class="container">
            <div class="row">

                <div class="col-sm-4">
                    <img class="match-height classy-pic" src="https://images.pexels.com/photos/2536579/pexels-photo-2536579.jpeg" class="w-100">
                    <h3 class="mt-3 mb-1 color-pink uppercase thin">
                        Feel Like Yourself
                    </h3>
                    <p>
                        Have an adult identity without sacrificing your committment to&nbsp;your&nbsp;kids.
                    </p>
                </div> <!-- col -->

                <div class="col-sm-4">
                    <img class="match-height classy-pic" src="https://images.pexels.com/photos/4474036/pexels-photo-4474036.jpeg" class="w-100">
                    <h3 class="mt-3 mb-1 color-pink uppercase thin">
                        Find Your Balance
                    </h3>
                    <p>
                        Find a balance between parenting, work, life, and maybe even some actual time&nbsp;for&nbsp;yourself.
                    </p>
                </div> <!-- col -->

                <div class="col-sm-4">
                    <img class="match-height classy-pic" src="https://images.pexels.com/photos/774866/pexels-photo-774866.jpeg" class="w-100">
                    <h3 class="mt-3 mb-1 color-pink uppercase thin">
                        Claim Your Purpose
                    </h3>
                    <p>
                        You have a higher calling than changing diapers. Pursue your dreams without being any less&nbsp;of&nbsp;a&nbsp;mom.
                    </p>
                </div> <!-- col -->

            </div> <!-- row -->
        </div> <!-- container -->
    </section> <!-- results -->






    <section id="results" class="bg-white text-center py-5 z-depth-3-y z-over">
        <div class="container">
            <div class="row">

                <div class="col-12 text-center mb-3">
                    <h2 class="h3">
                        You are the glue that holds everything together...everything except you.
                    </h2>
                </div> <!-- col -->

                <div class="col-md-6">
                    <p>
                        You used to be a real human being with a grown up job and a fancy degree.
                    </p>
                    <p>
                        You had thoughts, goals, dreams, ambitions, and sometimes you even went to the bathroom by yourself.
                    </p>
                    <p class="bold">
                        ...and then kids.
                    </p>
                    <p>
                        Kids you love more than anything in the world. Kids that drive you absolutely batty. Kids you would gladly die for. Yeah, those kids.
                    </p>
                </div>

                <div class="col-md-6">
                    <p>
                        Despite your ridiculous, mamma-bear love for your family, you still feel overwhelmed, exhausted, lost, disorganized, emotionally-drained, and unexplainably sad a large portion of the time.
                    </p>
                    <p class="bold">
                        You're there for everyone...but who's there to support you?
                    </p>
                    <p>
                        You love your role as mom, but wouldn't it be nice if someone was there to support <span class="color-pink font-script h2 pb-0 mb-0" style="line-height: .5">you</span>?
                    </p>
                </div>

                <div class="col-12 text-center">
                    <%= link_to "Get Support", page_path("support"), class: "btn btn-pink btn-lg" %>
                </div>


            </div> <!-- row -->
        </div> <!-- container -->
    </section> <!-- results -->





</main>

