<main class="text-center py-5 my-5">
  <h1 class="thin">
    Stay tuned to be redirected to your account or click <%= link_to "here", user_path(current_user) %> to expedite the process.
  </h1>
</main>
