<!-- page-specific content -->
  <% title "About Me | SSM" %>
  <%= content_for :head do %>
    <meta name="description" content="Running a household is hard.  Here are some tools to help you stay organized, increase your productivity, and stay sane." />
  <% end %>
<!-- page-specific content -->

<div class="header-frame frame" style="background-image: url(<%= asset_path "about-me-picture.jpg" %>)"><div class="image-overlay-neutral"><div class="inner-frame border-neutral"></div></div></div>
<div class="over-frame-text">
  <div class="over-frame-bottom-row">
	   <h1>About Me</h1>
     <div class="half-buffer"></div>
   </div>
</div>

<div class="half-buffer"></div>
<div class="container large-p">
  <h2 class="text-center font-script color-spouse">About Liz</h2>
  <p>Liz is a thirty-something mom with a preteen stepdaughter (and budding Instagram addict), a sparkle-clad toddlernado (who will surely grow up to be a linebacker or a crash test dummy), two large dogs (with a Pinky and the Brain type relationship), a rabbit the size of a large house cat, and a well-behaved herd of dust bunnies.</p>
  <p>She’s married to a lifelong New Yorker who is so wonderful he agreed to try the white picket fence thing in sunny California, where they now live with the aforementioned pack.</p>
  <p>When she gets to be a person of her own (read: nights and naptime) she’s a PhD candidate, blogger, writer, fitness nut, freelance digital consultant, proud nerd, avid reader, and sleep enthusiast (although it’s been a few years on that last one, but from what she remembers it was quite nice).</p>

  <div class="buffer"></div>

  <h2 class="text-center font-script color-spouse">The Stay Sane Mom Mission</h2>
  <p>The Stay Sane Mom was born out of Liz’s journey into wife-dom and motherhood.</p>
  <p>She noticed that wife-ing, momming, and keeping a clean house were all possible by themselves, but when done all at the same time they had started to make her feel like she was (to be honest) slowly losing her mind. Worse than losing her mind, she also felt like her identity as a person other than “Mom” was slipping away as well.</p>
  <p>So what happens when a nerd encounters a problem? Research. Lots of research. Also empirical tests, case studies, and anything else that could help her be “Liz” and “Mom” at the same time.</p>
  <p>When she started coming to actual, useful conclusions, she decided to start building <em class="font-serif">The Stay Sane Mom</em> to share her revelations with other moms who wanted to be a real person as well as being “Mom”.</p>

</div> <!-- container -->

<div class="half-buffer"></div>

<div class="bg-neutral">
  <div class="container text-center padded">
    <h2>Want to Stay Sane?</h2>
    <script async data-uid="229e74784f" src="https://f.convertkit.com/229e74784f/ac0fba8d30.js"></script>
  </div>
</div> <!-- container -->

<div class="half-buffer"></div>

<div class="container">

  <h2 class="font-script text-center color-spouse">Praise for The Stay Sane Mom</h2>
  <div class="half-buffer"></div>

  <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FCrystalhackl1%2Fposts%2F331044520817689&width=500" width="500" height="313" style="border:none;overflow:hidden" scrolling="yes" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
  <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpchamberlain2%2Fposts%2F2185694511441358&width=500" width="500" height="218" style="border:none;overflow:hidden" scrolling="yes" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
  <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fsandra.balisky.9%2Fposts%2F10108505869990258&width=500" width="500" height="294" style="border:none;overflow:hidden" scrolling="yes" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
  <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Flatishap2%2Fposts%2F10156798818928610&width=500" width="500" height="237" style="border:none;overflow:hidden" scrolling="yes" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>


</div> <!-- container -->


<script>
  $(function() {
    $('.content-box').matchHeight();
  });
</script>
