<!-- page-specific content -->
  <% title "About Me | SSM" %>
  <%= content_for :head do %>
    <meta name="description" content="Running a household is hard.  Here are some tools to help you stay organized, increase your productivity, and stay sane." />
  <% end %>
<!-- page-specific content -->

<div class="header-frame frame" style="background-image: url(<%= asset_path "about-me-picture.jpg" %>)"><div class="image-overlay-neutral"><div class="inner-frame border-neutral"></div></div></div>
<div class="over-frame-text">
  <div class="over-frame-bottom-row">
	   <h1>About Me</h1>
     <div class="half-buffer"></div>
   </div>
</div>

<div class="container">
  <div class="half-buffer d-block d-md-none"></div>

  <h5 class="text-center font-bold">The Stay Sane Mom provides tools and support for driven, multitasking, soul-hungry moms who want to master their domain so they have time and energy to be more than just "mom".</h5>

  <div class="half-buffer"></div>

  <h2 class="text-center font-script color-spouse">About Liz</h2>
  <h5 class="color-house">House</h5>
  <p style="margin-bottom: 5px">Liz went from living in her first, tiny NYC apartment to running, cleaning, and maintaining a 5-bedroom house with no training wheels.  All her house advice is based on personal suffering, research, and experimentation in the tolerance of human skin to large quantities of Lysol products.
  <ul>
    <li><a href="https://www.thestaysanemom.com/blogs/how-to-keep-a-clean-house-long-term-3-easy-tricks" target="_blank" class="color-house">3 Easy Tricks for How to Keep a Clean House Long Term</a></li>
    <li><a href="https://www.thestaysanemom.com/blogs/one-simple-trick-to-hit-your-budget-every-month" target="_blank" class="color-house">One Simple Trick to Hit Your Budget Every Month</a></li>
    <li><a href="https://www.thestaysanemom.com/blogs/running-list-of-the-best-household-products-in-existence" target="_blank" class="color-house">Running List of the Best Household Products in Existence</a></li>
    <li><a href="https://www.thestaysanemom.com/blogs/the-secret-to-keeping-your-house-clean-all-the-time" target="_blank" class="color-house">The Secret to Keeping Your House Clean (All the Time)</a></li>
  </ul>

  <h5 class="color-spouse">Spouse</h5>
  <p>Liz is happily married to a lifelong New Yorker who is currently sacrificing his addiction to the concrete jungle to try the white picket fence thing in sunny California.  Together they have two kids, two dogs, four joint LLCs, and a serious, shared Chick-fil-a addiction.</p>
  <ul>
    <li><a href="https://www.thestaysanemom.com/blogs/can-you-predict-which-couples-get-divorced" target="_blank" class="color-spouse">Can You Predict Which Couples Get Divorced?</a></li>
    <li><a href="https://www.thestaysanemom.com/blogs/the-5-love-languages-for-dummies" target="_blank" class="color-spouse">The 5 Love Languages for Dummies</a></li>
    <li><a href="https://www.thestaysanemom.com/blogs/the-best-marriage-books-to-add-to-your-reading-list" target="_blank" class="color-spouse">The Best Marriage Books (to Add to Your Reading List)</a></li>
  </ul>

  <h5 class="color-kids">Kids</h5>
  <p>Liz is mom to a preteen stepdaughter (and budding Instagram addict), a sparkle-clad toddlernado (who will surely grow up to be a linebacker or a crash test dummy), two large dogs (with a Pinky and the Brain type relationship), a rabbit the size of a large house cat, and a well-behaved herd of dust bunnies.</p>
  <ul>
    <li><a href="https://www.thestaysanemom.com/capsules" target="_blank" class="color-kids">Monthly or Yearly Photo Time Capsules</a></li>
    <li><a href="https://www.thestaysanemom.com/blogs/how-to-keep-a-toddler-entertained-indoors-without-destroying-your-house" target="_blank" class="color-kids">How to Keep a Toddler Entertained Indoors (without Destroying Your House)</a></li>
    <li><a href="https://www.thestaysanemom.com/blogs/how-to-create-a-chore-chart-that-works" target="_blank" class="color-kids">How to Create a Choor Chart that Works</a></li>
  </ul>

  <h5 class="color-self">Self</h5>
  <p>When she gets to be a person of her own (read: nights and naptime) she’s a PhD candidate in Business Psychology, blogger, writer, fitness nut, freelance digital consultant, proud nerd, avid reader, and sleep enthusiast (although it’s been a few years on that last one, but from what she remembers it was quite nice).</p>
  <ul>
    <li><a href="https://www.thestaysanemom.com/blogs/the-4-simple-steps-to-failproof-goal-setting-your-goals-won-t-work-without" target="_blank" class="color-self">The 4 Simple Steps to Failproof Goal Setting</a></li>
    <li><a href="https://www.thestaysanemom.com/blogs/double-your-daily-productivity-in-just-10-minutes" target="_blank" class="color-self">Double Your Daily Productivity in Just 10 Minutes</a></li>
    <li><a href="https://www.thestaysanemom.com/blogs/how-to-set-smart-goals" target="_blank" class="color-self">How to Set SMART Goals</a></li>

  </ul>

  <div class="half-buffer"></div>

  <h2 class="text-center font-script color-spouse">The Stay Sane Mom Mission</h2>
  <p>The Stay Sane Mom was born out of Liz’s journey into wife-dom and motherhood.</p>
  <p>She noticed that wife-ing, momming, and keeping a clean house were all possible by themselves, but when done all at the same time they had started to make her feel like she was (to be honest) slowly losing her mind. Worse than losing her mind, she also felt like her identity as a person other than “Mom” was slipping away as well.</p>
  <p>So what happens when a nerd encounters a problem? Research. Lots of research. Also empirical tests, case studies, and anything else that could help her be “Liz” and “Mom” at the same time.</p>
  <p>When she started coming to actual, useful conclusions, she decided to start building <em>The Stay Sane Mom</em> to share her revelations with other moms who wanted to be a real person as well as being “Mom”.</p>

</div> <!-- container -->

<div class="half-buffer"></div>

<div class="bg-neutral">
  <div class="container text-center padded">
    <h2>Want to Stay Sane?</h2>
    <div class="click-simulator"><script async data-uid="229e74784f" src="https://f.convertkit.com/229e74784f/ac0fba8d30.js"></script></div>
  </div>
</div> <!-- container -->

<div class="buffer"></div>

<div class="container">

  <h2 class="font-script text-center color-spouse">Praise for The Stay Sane Mom</h2>
  <div class="half-buffer"></div>

  <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FCrystalhackl1%2Fposts%2F331044520817689&width=500" width="500" height="313" style="border:none;overflow:hidden" scrolling="yes" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
  <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fsandra.balisky.9%2Fposts%2F10108505869990258&width=500" width="500" height="294" style="border:none;overflow:hidden" scrolling="yes" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

</div> <!-- container -->

<div class="half-buffer"></div>

<div class="bg-neutral"><div class="text-center container padded">
  <p>Want to get to know us some more?</p>
  <a href="https://www.facebook.com/pg/TheStaySaneMom/reviews/" target="_blank">
    <h3 class="font-script color-spouse">See More Reviews on Our Facebook Page</h3>
  </a>
</div></div>

<div class="half-buffer"></div>

<div class="container">
  <h2 class="font-script text-center">As Seen On...</h2>

  <div class="half-buffer"></div>
  <h2 class="boldest">Regular Contributor on...</h2>

  <div class="row">

    <div class="col-sm-6 col-lg-4">
      <div class="card" style="margin-top: 20px;">
        <img class="card-img-top" src="https://i2.wp.com/www.mompreneurhustle.com/wp-content/uploads/2019/01/close-up-eyeglasses-glasses-1493113.jpg?w=1920" alt="The Mompreneur Hustle">
        <div class="card-body">
          <h4 class="card-title"><a class="color-self" href="http://www.mompreneurhustle.com" target="_blank">The Mompreneur Hustle</a></h4>
          <p class="card-text"><strong>A website for business moms who spurn the "only 24 hours in a day" rule.</strong>
            <ul>
              <li><a class="color-self" style="font-weight: 700" href="http://www.mompreneurhustle.com/2019/01/10/5-strategies-to-balance-business-and-mom-life/" target="_blank">5 Strategies to Balance Business and Mom Life</a></li>
            </ul>
          </p>
          <div class="text-center"><a  href="https://healthylivingincolorado.com/healthy-ways-to-pamper-your-spouse" target="_blank" class="btn btn-danger">See My Latest Post</a></div>
        </div>  <!-- Card Body -->
      </div>  <!-- Card -->
    </div>  <!-- Col -->

  </div> <!-- row -->

  <div class="half-buffer"></div>

  <h2 class="boldest">Guest Posts on...</h2>

  <div class="row">

    <div class="col-sm-6 col-lg-4">
      <div class="card" style="margin-top: 20px;">
        <img class="card-img-top" src="https://www.imperfectlyperfectmama.com/wp-content/uploads/2018/11/kids-get-muddy-feature.jpg" alt="7 Tips for Parenting an Active Toddler">
        <div class="card-body">
          <h4 class="card-title"><a class="color-self" href="https://www.imperfectlyperfectmama.com/parenting-active-toddler/" target="_blank">7 Tips for Parenting an Active Toddler</a></h4>
          <p class="card-text"><strong>Imperfectly Perfect Mama (5/17/2019)</strong>
            <br />if you read the term “active toddler,” snort-laughed, and thought something along the lines of “yeah, try toddlernado,” or “I hadn’t realized terrorizing the villagers was an activity” this post is for you.
          </p>
          <div class="text-center"><a  href="https://healthylivingincolorado.com/healthy-ways-to-pamper-your-spouse" target="_blank" class="btn btn-danger">Stop the Madness</a></div>
        </div>  <!-- Card Body -->
      </div>  <!-- Card -->
    </div>  <!-- Col -->

    <div class="col-sm-6 col-lg-4">
      <div class="card" style="margin-top: 20px;">
        <img class="card-img-top" src="https://healthylivingincolorado.com/wp-content/uploads/2019/02/Healthy-Ways-to-Pamper-Your-Spouse-bg.jpg" alt="No Chocolates This Valentine's Day: Healthy Ways to Pamper Your Spouse">
        <div class="card-body">
          <h4 class="card-title"><a class="color-self" href="https://healthylivingincolorado.com/healthy-ways-to-pamper-your-spouse" target="_blank">No Chocolates This Valentine's Day: Healthy Ways to Pamper Your Spouse</a></h4>
          <p class="card-text"><strong>Healthy Living in Colorado (2/5/2019)</strong>
            <br />This gives some rare gift options for hubby that don't involve coma-inducing levels of chocolate consumption.
          </p>
          <div class="text-center"><a  href="https://healthylivingincolorado.com/healthy-ways-to-pamper-your-spouse" target="_blank" class="btn btn-danger">Get the Scoop</a></div>
        </div>  <!-- Card Body -->
      </div>  <!-- Card -->
    </div>  <!-- Col -->

    <div class="col-sm-6 col-lg-4">
      <div class="card" style="margin-top: 20px;">
        <img class="card-img-top" src="https://i2.wp.com/www.sammichespsychmeds.com/wp-content/uploads/2019/01/portrait-317041_1920-e1546445517684.jpg?zoom=2&resize=462%2C309&ssl=1" alt="How I Survived My First Thousand Repetitions of 'Baby Shark' (7 Rules for Toddler Moms)">
        <div class="card-body">
          <h4 class="card-title"><a class="color-self" href="https://www.sammichespsychmeds.com/how-i-survived-my-first-thousand-repetitions-of-baby-shark-7-rules-for-toddler-moms/" target="_blank">How I Survived My First Thousand Repetitions of "Baby Shark" (7 Rules for Toddler Moms)</a></h4>
          <p class="card-text"><strong>Sammiches and Psych Meds (1/19/2019)</strong>
            <br />Not unlike the movie Gremlins, there are certain rules that must be observed in order to facilitate successful cohabitation with the creature that was formerly your sweet, innocent baby.
          </p>
          <div class="text-center"><a  href="https://www.sammichespsychmeds.com/how-i-survived-my-first-thousand-repetitions-of-baby-shark-7-rules-for-toddler-moms/" target="_blank" class="btn btn-danger">Defeat the Shark</a></div>
        </div>  <!-- Card Body -->
      </div>  <!-- Card -->
    </div>  <!-- Col -->

    <div class="col-sm-6 col-lg-4">
      <div class="card" style="margin-top: 20px;">
        <img class="card-img-top" src="https://s3-us-west-1.amazonaws.com/staysanemom/pinterest-low-effort-ways-to-feed-kids-3.png" alt="7 Low-Effort Ways to Eat (and Feed Your Kids) Healthy">
        <div class="card-body">
          <h4 class="card-title"><a class="color-self" href="http://www.holisticallylizzie.com/7-low-effort-ways-to-eat-feed-your-kids-healthier/" target="_blank">7 Low-Effort Ways to Eat (and Feed Your Kids) Healthy</a></h4>
          <p class="card-text"><strong>Holistically Lizzie (12/13/2018)</strong>
            <br />In a world of very tempting french fries, this post will help on your quest to get your kids to eat a little healthier.
          </p>
          <div class="text-center"><a  href="http://www.holisticallylizzie.com/7-low-effort-ways-to-eat-feed-your-kids-healthier/" target="_blank" class="btn btn-danger">Healthy Awaits</a></div>
        </div>  <!-- Card Body -->
      </div>  <!-- Card -->
    </div>  <!-- Col -->

    <div class="col-sm-6 col-lg-4">
      <div class="card" style="margin-top: 20px;">
        <img class="card-img-top" src="https://ohthesearethegoodolddays.com/wp-content/uploads/2018/12/annie-spratt-54462-unsplash-1024x682.jpg" alt="How to Teach Your Kids to Be Kind">
        <div class="card-body">
          <h4 class="card-title"><a class="color-self" href="https://ohthesearethegoodolddays.com/how-to-teach-your-kids-to-be-kind" target="_blank">How to Teach Your Kids to Be Kind</a></h4>
          <p class="card-text"><strong>Oh These Are the Good Old Days (12/12/2018)</strong>
            <br />In a world of 'me, me, me' this post talks about how (and why) to teach your kids to be kind.
          </p>
          <div class="text-center"><a  href="https://ohthesearethegoodolddays.com/how-to-teach-your-kids-to-be-kind" target="_blank" class="btn btn-danger">Explore Kindness</a></div>
        </div>  <!-- Card Body -->
      </div>  <!-- Card -->
    </div>  <!-- Col -->

    <div class="col-sm-6 col-lg-4">
      <div class="card" style="margin-top: 20px;">
        <img class="card-img-top" src="https://i2.wp.com/simply-well-balanced.com/wp-content/uploads/2018/12/Control-Kid-Clutter.jpg?w=720&ssl=1" alt="How to Control Kid Clutter: 5 Easy Strategies that Actually Work">
        <div class="card-body">
          <h4 class="card-title"><a class="color-self" href="https://simply-well-balanced.com/control-kid-clutter-5-easy-strategies/" target="_blank">How to Control Kid Clutter: 5 Easy Strategies that Actually Work</a></h4>
          <p class="card-text"><strong>Simply Well Balanced (12/8/2018)</strong>
            <br />Kiddos come with a lot of clutter.  This post gives 5 easy-to-implement strategies for keeping the chaos at bay.
          </p>
          <div class="text-center"><a  href="https://simply-well-balanced.com/control-kid-clutter-5-easy-strategies/" target="_blank" class="btn btn-danger">Stop the Madness</a></div>
        </div>  <!-- Card Body -->
      </div>  <!-- Card -->
    </div>  <!-- Col -->

    <div class="col-sm-6 col-lg-4">
      <div class="card" style="margin-top: 20px;">
        <img class="card-img-top" src="https://i0.wp.com/familyfunflaws.com/wp-content/uploads/2018/11/jelleke-vanooteghem-434612-unsplash.jpg?resize=600%2C400&ssl=1" alt="Learning to Love Failure: What Our Toddlers Can Teach Us">
        <div class="card-body">
          <h4 class="card-title"><a class="color-self" href="https://familyfunflaws.com/learning-to-love-failure-what-our-toddlers-can-teach-us/" target="_blank">Learning to Love Failure: What Our Toddlers Can Teach Us</a></h4>
          <p class="card-text"><strong>Family Fun Flaws (11/2/2018)</strong>
            <br />This blog is all about how to look at failure a little less like a fear-stricken adult and a little more through the eyes of our fearless, little, chaos-making toddlernados.
          </p>
          <div class="text-center"><a  href="https://familyfunflaws.com/learning-to-love-failure-what-our-toddlers-can-teach-us/" target="_blank" class="btn btn-danger">Fail Better</a></div>
        </div>  <!-- Card Body -->
      </div>  <!-- Card -->
    </div>  <!-- Col -->

    <div class="col-sm-6 col-lg-4">
      <div class="card" style="margin-top: 20px;">
        <img class="card-img-top" src="https://cdn-images-1.medium.com/max/1600/1*JbWGqmCuwiAb2ynan0AtWA.jpeg" alt="A Day in the Life of a Coding Bootcamp Student">
        <div class="card-body">
          <h4 class="card-title"><a class="color-self" href="https://medium.com/newsonthebloc/a-day-in-the-life-of-a-coding-bootcamp-student-391a1a265ea4" target="_blank">A Day in the Life of a Coding Bootcamp Student</a></h4>
          <p class="card-text"><strong>Bloc Blog (8/9/2017)</strong>
            <br />This is from before I became The Stay Sane Mom days, back when I was just a lowly coding bootcamp student.  It gives a good look into the exact chaos that was life back before I got "busy".  Yeah, heavy sarcasm there...
          </p>
          <div class="text-center"><a  href="https://medium.com/newsonthebloc/a-day-in-the-life-of-a-coding-bootcamp-student-391a1a265ea4" target="_blank" class="btn btn-danger">Talk Nerdy</a></div>
        </div>  <!-- Card Body -->
      </div>  <!-- Card -->
    </div>  <!-- Col -->

  </div> <!-- row -->

  <div class="half-buffer"></div>

</div> <!-- container -->






<%= content_for :additional_js do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.content-box').matchHeight();
      $('.card').matchHeight();
      $('.card-img-top').matchHeight();
      $('.card-title').matchHeight();
      $('.card-text').matchHeight();
      $('.click-simulator').click(function() {
          ga('send', 'event', 'Subscription', 'In-Page Subscription', 'About Me Subscription Box');
      });
    });
  </script>
<% end %>
