<section id="problem" class="text-center py-5">
    <div class="container">
        <div class="row">

            <div class="col-12 text-center pb-2">
                <h1 class="display-1 color-pink font-script h1 extra-big">
                    About Us
                </h1>
                <h2 class="h3">
                    Only a fellow mom can understand your crazy, contradictory, emotionally-charged hurricane of a life.
                </h2>
            </div> <!-- col -->

            <div class="col-xl-4 text-center px-5 px-xl-3">
                <img class="w-100 classy-pic tilt-left my-4" src="https://staysanemom.s3.us-west-1.amazonaws.com/111-images/Liz+and+Kiddos.jpg">
            </div> <!-- col -->

            <div class="col-xl-8 text-center text-xl-left">
                <p>We understand you because we <em>are</em> you.  The Stay Sane Mom was created&nbsp;for&nbsp;moms,&nbsp;by&nbsp;a&nbsp;mom.</p>
                <p>Liz is an author, coach, and parenting expert (if such thing exists).  She also has her PhD in business psychology.</p>
                <p>More importantly, Liz has spent the last decade or so with these adorable little monsters. Midnight feedings, homework help, adorable cuddles, and slightly-less-adorable tantrums...she's seen it all.</p>
                
            </div> <!-- col -->

            <div class="col-12 text-center pb-2">
                <p class="bold h4">Get support from a fellow mom who has truly been there.</p>
                <%= link_to "Get Support", root_path(anchor: "action-steps"), class: "btn btn-pink btn-lg" %>
            </div> <!-- col -->

        </div> <!-- row -->
    </div> <!-- container -->
</section> <!-- problem -->



<%= render partial: "freebies/stripe_habits" %>