<!-- page-specific content -->
  <% title "About Me | SSM" %>
  <%= content_for :head do %>
    <meta name="description" content="Running a household is hard.  Here are some tools to help you stay organized, increase your productivity, and stay sane." />
  <% end %>
<!-- page-specific content -->

<div class="frame" style="background-image: url(<%= asset_path "about-me-picture.jpg" %>)"><div class="image-overlay-neutral"></div></div>
<div class="over-frame-text">
  <div class="over-frame-bottom-row">
	   <h1>About Me</h1>
     <div class="half-buffer"></div>
   </div>
</div>

<div class="half-buffer"></div>
<div class="container">
  <h2 class="text-center">About Liz</h2>
  <p>Liz is a thirty-something mom with a preteen stepdaughter (and budding Instagram addict), a sparkle-clad toddlernado (who will surely grow up to be a linebacker or a crash test dummy), two large dogs (with a Pinky and the Brain type relationship), a rabbit the size of a large house cat, and a well-behaved herd of dust bunnies.</p>
  <p>She’s married to a lifelong New Yorker who is so wonderful he agreed to try the white picket fence thing in sunny Cali, where they now live with the aforementioned pack.</p>
  <p>When she gets to be a person of her own (read: nights and naptime) she’s a PhD candidate, blogger, writer, fitness nut, freelance digital consultant, proud nerd, avid reader, and sleep enthusiast (although it’s been a few years on that last one, but from what she remembers it was quite nice).</p>

  <h2 class="text-center">About the <em>Stay Sane Mom</em> Mission</h2>
  <p>The Stay Sane Mom was born out of Liz’s journey into wife-dom and motherhood.</p>
  <p>She noticed that wife-ing, momming, and keeping a clean house were all possible by themselves, but when done all at the same time they had started to make her feel like she was (to be honest) slowly losing her mind. Worse than losing her mind, she also felt like her iden- tity as a person other than “Mom” was slipping away as well.</p>
  <p>So what happens when a nerd encounters a problem? Research. Lots of research. Also empirical tests, case studies, and anything else that could help her be “Liz” and “Mom” at the same time.</p>
  <p>When she started coming to actual, useful conclusions, she decided to start building The Stay Sane Mom to share her revelations with other moms who wanted to be a person as well as being “Mom”.</p>

  <h2 class="text-center">Want to Stay Sane?</h2>
  <script async data-uid="229e74784f" src="https://f.convertkit.com/229e74784f/ac0fba8d30.js"></script>

</div> <!-- container -->


<script>
  $(function() {
    $('.content-box').matchHeight();
  });
</script>
