<!-- page-specific content -->
  <% title "As Seen On | SSM" %>
  <%= content_for :head do %>
    <meta name="description" content="Running a household is hard.  Here are some tools to help you stay organized, increase your productivity, and stay sane." />
  <% end %>
<!-- page-specific content -->

<div class="header-frame frame" style="background-image: url(<%= asset_path "as-seen-on-guest-posts.jpg" %>)"><div class="image-overlay-white"><div class="inner-frame border-neutral"></div></div></div>
<div class="over-frame-text">
  <div class="container text-center">
    <h1>As Seen On...</h1>
    <h3>Need even more sanity?<br />Check out these guest posts on other sites.</h3>
  </div>
</div>

<div class="half-buffer"></div>

<div class="container">
  <h2>Guest Posts</h2>

  <h4><a class="color-self" style="font-weight: 700" href="https://familyfunflaws.com/learning-to-love-failure-what-our-toddlers-can-teach-us/" target="_blank">Learning to Love Failure: What Our Toddlers Can Teach Us</a></h4>
  <p>This blog is all about how to look at failure a little less like a fear-stricken adult and a little more through the eyes of our fearless, little, chaos-making toddlernados.</p>

  <h4><a class="color-self" style="font-weight: 700" href="https://medium.com/newsonthebloc/a-day-in-the-life-of-a-coding-bootcamp-student-391a1a265ea4" target="_blank">A Day in the Life of a Coding Bootcamp Student</a></h4>
  <p>This is from before my Stay Sane Mom days, back when I was just a lowly coding bootcamp student.  It gives a good look into the exact chaos that was life back before I got "busy".  Yeah, heavy sarcasm there...</p>


</div> <!-- container -->


<script>
  $(function() {
    $('.content-box').matchHeight();
  });
</script>
