<!-- page-specific content -->
  <% title "Let's Collaborate | SSM" %>
  <%= content_for :head do %>
    <meta name="description" content="Running a household is hard.  Here are some tools to help you stay organized, increase your productivity, and stay sane." />
  <% end %>
<!-- page-specific content -->


<%= render partial: "messages/message_modal", locals: { message: Message.new, message_type: "Collaborate"} %>



<section class="z-under texture-crumpled-paper py-5">
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
        <div class="col-12">
            <h2 class="display-1 font-script color-pink text-center">
                Let's Collaborate
            </h2>
        </div>
        <div class="col-12 col-lg-6">
            <p class="lead mb-3">
               Want to reach moms, wives, and women between 20 and 50 years old?
            </p>
            <p class="lead mb-3">
                I work with brand representatives from all kinds of mom- or kid-targeted products and services.  I'd love to hear from you.
            </p>
        </div>
        <div class="col-sm-8 col-lg-6 mt-5 text-center">
            <img class="classy-pic tilt-right w-md-75" src="<%= asset_path 'collaborate.jpg' %>" class="w-100">
        </div>
        <div class="col-12 text-center">
          <button type="button" class="btn btn-pink my-5" data-toggle="modal" data-target="#newMessageModal">
            Let's Collaborate
          </button>
        </div>
    </div>
  </div> <!-- container -->
</section>





<section class="bg-white z-depth-2-y z-over py-5">
  <div class="container font-sans">
    <h3 class="text-center color-pink pb-4">Want to reach wives, moms, and homemakers between 20 and 50?</h3>
    <p>Great things can come out of collaboration.</p>
    <p>Here are just some of the ways <em>The Stay Sane Mom</em> could potentially partner with your brand:</p>
    <ul>
      <li>Mentions in a blog post</li>
      <li>Dedicated blog posts (e.g. product reviews, etc.)</li>
      <li>Social media mentions</li>
      <li>Giveaways</li>
      <li>Gift guide inclusion</li>
    </ul>
    <h3 class="text-center">Sound like what you're looking for?</h3>
  </div> <!-- container -->
</section>





<section class="z-under mt-5">
  <div class="container text-center">
    <h3>If you have an idea for collaboration, click the magic&nbsp;button&nbsp;below.</h3>
    <button type="button" class="btn btn-pink my-5" data-toggle="modal" data-target="#newMessageModal">
      Click Here
    </button>
  </div> <!-- container -->
</section>













<%= content_for :additional_js do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.content-box').matchHeight();
      $('.hero-button').click(function() {
          ga('send', 'event', 'Subscription', 'Specialty Inquiry', 'Collaborate Subscription Box');
      });
    });
  </script>
<% end %>
