<div class="container">
  <script async data-uid="b0cf5f2f42" src="https://f.convertkit.com/b0cf5f2f42/72873946ca.js"></script>
</div>

<%= content_for :additional_js do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.formkit-submit').click(function() {
          ga('send', 'event', 'Subscription', 'In-Page Subscription', 'House Cleaning Course Reservation Page');
      });
    });
  </script>
<% end %>
