<!-- page-specific content -->
  <% title "Time Capsules | SSM" %>
  <%= content_for :head do %>
    <meta name="description" content="Create year by year photo collections to watch your family grow up." />
  <% end %>
<!-- page-specific content -->

<div class="container">

  <h1 class="text-center font-script color-spouse">Create Lasting Memories</h1>

  <div class="half-buffer"></div>

  <div class="text-center">
    <%= image_tag "watch-your-kids-get-bigger.jpg", style: "width: 100%", alt: "Document your kids' growth with yearly (or monthly) photos" %>

    <div class="half-buffer"></div>

    <h2 class="color-spouse">Document your kiddos' growth!</h2>
    <h4>Upload your photos to create yearly or monthly time capsules.</h4>

    <iframe style="margin: 20px 0 20px 0" width="560" height="315" src="https://www.youtube.com/embed/JW7VhcyseOU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <h2>Our automated email reminders will help you remember when to take the next one...</h2>
    <h2 class="color-spouse">...so you never miss a moment!</h2>

    <div class="half-buffer"></div>

    <%= link_to "Get Started Now", capsules_path, class: "btn btn-danger" %>

  </div> <!-- center -->

</div> <!-- container -->


<%= content_for :additional_js do %>
  <script type="text/javascript">
    $(function() {
      $('.content-box').matchHeight();
      $('.hero-button').click(function() {
          ga('send', 'event', 'Accounts', 'Tool Landing Page', 'To Do Landing Create Account');
      });
    });
  </script>
<% end %>
