<div class="container text-center">
  <h1 class="font-script color-spouse">Custom Planners</h1>
  <h2>Because your life is more complicated than an average planner.</h2>
  <%= image_tag "planner-compilation.jpg", style: "width: 90%;  max-width: 600px" %>
  <h2>Get a planner custom designed for your&nbsp;crazy&nbsp;life.</h2>
  <div class="half-buffer"></div>
  <script async data-uid="59893e2d89" src="https://f.convertkit.com/59893e2d89/023324ad98.js"></script>
</div>
