<div class="py-5 container text-center">
  <h1 class="display-1 font-script color-pink">Custom Designed Planners</h1>

  <h2>Because your life is more complicated than an average planner.</h2>
  <p>Work 1-on-1 with a graphic designer to create the custom planner of your dreams!</p>
  <%= image_tag "planner-compilation.jpg", class: "z-depth-3 my-5 tilt-right", style: "width: 90%;  max-width: 600px" %>
  <h2>Get a planner custom designed for your&nbsp;crazy&nbsp;life.</h2>

  <div class="half-buffer"></div>

  <div class="text-center row pb-5">
    <div class="col-12">
      <a href="https://links.thestaysanemom.com/custom-planner" class="btn btn-pink btn-xl" target="_blank">Design a New Planner</a>
    </div>
  </div> <!-- row -->

  <!-- <h2 class="font-script color-pink">What People are Saying</h2> -->
<!--   <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fkimiye.kawashima%2Fposts%2F10156766555697534&width=500" width="500" height="275" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
  <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fmelissarblevins%2Fposts%2F10155656333116256&width=500" width="500" height="344" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
  <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fheatherolsontrow%2Fposts%2F10113162365461040&width=500" width="500" height="256" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
  <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fheatherolsontrow%2Fposts%2F10113162365461040&width=500" width="500" height="256" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
 -->
</div>
