<div class="container text-center">
  <h1 class="font-script color-spouse">Custom Planners</h1>

  <h2>Because your life is more complicated than an average planner.</h2>
  <%= image_tag "planner-compilation.jpg", style: "width: 90%;  max-width: 600px" %>
  <h2>Get a planner custom designed for your&nbsp;crazy&nbsp;life.</h2>

  <div class="half-buffer"></div>

  <div class="text-center row pb-5">
    <div class="col-sm-6">
      <a href="https://the-stay-sane-mom.ck.page/products/custom-designed-planner" class="btn btn-spouse btn-block" target="_blank">Design a New Planner</a>
    </div>
    <div class="col-sm-6">
      <a href="https://the-stay-sane-mom.ck.page/products/planner-reorder" class="btn btn-spouse btn-block" target="_blank">Reorder Your Current Planner</a>
    </div>
  </div> <!-- row -->

  <!-- <h2 class="font-script color-spouse">What People are Saying</h2> -->
  <!-- <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fkimiye.kawashima%2Fposts%2F10156766555697534&width=500" width="500" height="275" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe> -->
  <!-- <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fmelissarblevins%2Fposts%2F10155656333116256&width=500" width="500" height="344" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
  <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fheatherolsontrow%2Fposts%2F10113162365461040&width=500" width="500" height="256" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
  <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fheatherolsontrow%2Fposts%2F10113162365461040&width=500" width="500" height="256" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe> -->
  <!-- <div class="half-buffer"></div>

  <script async data-uid="59893e2d89" src="https://f.convertkit.com/59893e2d89/023324ad98.js"></script> -->

</div>
