<!-- page-specific content -->
  <% title "Speaking Engagements | SSM" %>
  <%= content_for :head do %>
    <meta name="description" content="Running a household is hard.  Here are some tools to help you stay organized, increase your productivity, and stay sane." />
  <% end %>
<!-- page-specific content -->

<div class="header-frame frame" style="background-image: url(<%= asset_path "hire-liz-as-a-speaker.jpg" %>)"><div class="image-overlay-white"><div class="inner-frame border-neutral"></div></div></div>
<div class="over-frame-text">
  <div class="container text-center">
    <h1 style="color: white">Book Liz for a Speaking Engagement</h1>
    <h5 style="color: white; font-weight: 700">Need an authentic, engaging, nerdy, sarcastic, <br />and (mostly) well-mannered speaker  <br />for next your event?</h5>
  </div>
  <div class="over-frame-bottom-row">
    <div class="container">
      <div class="text-center">
        <div class="half-buffer"></div>
        <a href="https://pages.convertkit.com/9707fd5b3f/7df8beea02" class="btn btn-outline-tertiary">Get in Touch</a>
        <div class="buffer"></div>
      </div> <!-- text center -->
    </div> <!-- container -->
  </div> <!-- over-frame-bottom-row -->
</div>

<div class="half-buffer"></div>
<div class="container font-sans">
  <h2>What kind of event are you throwing?</h2>
  <p>If you're putting together an event, you a speaker who brings a unique perspective, some real-world expertise, and is not going to put your audience to sleep (I'm hoping).  If your attendees need any or all of the following things, Liz might be your gal:</p>
  <ul>
    <li><p>An authentic, real, no-pulled-punches view on parenting, marriage, individual purpose, and keeping your house from looking like the war zone it is.</p></li>
    <li><p>A research-based approach to life's big (and little) problems, drawn from a strong academic background in psychology (BA, MA, and soon-to-be PhD).</p></li>
    <li><p>Humor and sarcasm, carefully cultivated through decades of self deprocation.</p></li>
    <li><p>A clear picture of the problems facing "modern" women, who are expected to be perfect moms, have successful careers, and be doting wives...all at the same time.</p></li>
    <li><p>Someone experienced in everything from leading small groups to presenting in front of large audiences.  (Equal opportunity snark, as they say in the biz.)</p></li>
  </ul>

  <h2>Sound like what you're looking for?</h2>
  <p>If this sounds like a good fit for your event, please <a href="https://pages.convertkit.com/9707fd5b3f/7df8beea02" target="_blank">contact me</a> so we can go over details and rates.  I'll get back to you by email within 48 hours.</p>

  <div class="half-buffer"></div>
  <hr>
  <div class="half-buffer"></div>

  <div class="text-center">
    <h2>To book Liz for your next conference, workshop, or seminar, just click the magic button below:</h2>
    <div class="half-buffer"></div>
    <a href="https://pages.convertkit.com/9707fd5b3f/7df8beea02" target="_blank" class="btn btn-outline-secondary">Click Me</a>
  </div>
</div> <!-- container -->



<script>
  $(document).ready(function() {
    $('.content-box').matchHeight();
    $('.formkit-submit').click(function() {
        ga('send', 'event', 'Subscription', 'Specialty Inquiry', 'Speaking Engagements');
    });
  });
</script>
