<!-- page-specific content -->
  <% title "Thank You | SSM" %>
  <%= content_for :head do %>
    <meta name="description" content="Running a household is hard.  Here are some tools to help you stay organized, increase your productivity, and stay sane." />
  <% end %>
<!-- page-specific content -->

<div class="header-frame frame" style="background-image: url(<%= asset_path "thank-you-for-subscribing.jpg" %>)"><div class="image-overlay-neutral"><div class="inner-frame border-neutral"></div></div></div>
<div class="over-frame-text">
  <div class="container">
    <h1 class="text-center">Eeek!  Thanks for subscribing!</h1>
  </div>
</div>

<div class="half-buffer"></div>
<div class="container">
  <h2>Welcome to the Stay Sane Mom!</h2>
  <p>If you clicked the ominous "subscribe" button, it means something about our basic mission (being a mom/wife/housekeeper/chauffeur/tutor/etc. without losing your mind) called out to you.</p>
  <p>Maybe the mountainous piles of laundry and swathes of un-swiffered floor are giving you nightmares.  Maybe you feel like having kids has made you and your spouse go from a romantic couple to disgruntled coworkers at the worst (and lowest paying) job ever.  Maybe you just want to be able to go in public without your toddler mooing rudely at the grocery checkout lady.</p>
  <p>Whatever the reason, I guarantee I've been there.  (And the mooing does stop...eventually.  Stay strong, sister.)</p>

  <h2>My Promise to You</h2>
  <p>I will not spam you.  What I <em>will</em> attempt to do is provide you with content that makes your life easier.  If I can give you the answer to that thing you've been Googling for weeks, provide you with a trick you haven't tried, or make you laugh through the tears and the remnants of toddler-launched macaroni, then I've done my eJob.</p>

  <h2>In the Meantime</h2>
  <p>While you're waiting for my toddlernado to fall asleep so I can look into your specific problem, here are a few blog posts my readers have deemed the most useful.  Take a look and see if anything speaks to you.</p>
  <p><strong>House a mess?</strong>  Try <a href="http://www.thestaysanemom.com/blogs/the-secret-to-keeping-your-house-clean-all-the-time" target="_blank" trigger-id="751943">The Secret to Keeping Your House Clean (All the Time)</a>
    <br><strong>Marriage need some TLC?</strong>  Check out <a href="http://www.thestaysanemom.com/blogs/wedding-vows-that-grow-with-your-marriage" target="_blank" trigger-id="751946">Wedding Vows that Grow With Your Marriage</a>
    <br><strong>Kids messing up (again)?</strong>  Take a look at <a href="http://www.thestaysanemom.com/blogs/teaching-your-kids-the-right-way-to-handle-mistakes" target="_blank" trigger-id="751949">Teaching Your Kids to Handle Mistakes</a>
    <br><strong>Want to focus on your own goals?</strong>  Check out <a href="http://www.thestaysanemom.com/blogs/actually-accomplish-your-goals" target="_blank" trigger-id="751951">Actually Accomplish Your Goals</a></p>
  <p>That's all for now.  You'll hear from me soon, but until then don't hesitate to drop me an email if you need anything.  See you around the internet!</p>
  <p>--Liz (aka The Stay Sane Mom)</p>

</div> <!-- container -->


<%= content_for :additional_js do %>
  <script type="text/javascript">
    $(function() {
      $('.content-box').matchHeight();
    });
  </script>
<% end %>
