<!-- page-specific content -->
  <% title "Thank You | SSM" %>
  <%= content_for :head do %>
    <meta name="description" content="Running a household is hard.  Here are some tools to help you stay organized, increase your productivity, and stay sane." />
  <% end %>
<!-- page-specific content -->

<div class="header-frame frame" style="background-image: url(<%= asset_path "to-do-list.jpg" %>)"><div class="image-overlay-neutral"><div class="inner-frame border-neutral"></div></div></div>
<div class="over-frame-text">
  <div class="container">
    <h1 class="text-center">A To Do List</h1>
  </div>
  <div class="over-frame-bottom-row">
    <div class="container">
      <div class="text-center">
        <div class="half-buffer"></div>
        <%= link_to new_user_registration_path, class: "btn btn-outline-tertiary hero-button" do %>Get Tasking<% end %>
        <div class="buffer"></div>
      </div> <!-- text center -->
    </div> <!-- container -->
  </div> <!-- over-frame-bottom-row -->
</div> <!-- over frame text -->

<div class="half-buffer"></div>
<div class="container">
  <h2>Header</h2>
  <p>Explanation</p>

</div> <!-- container -->


<%= content_for :additional_js do %>
  <script type="text/javascript">
    $(function() {
      $('.content-box').matchHeight();
      $('.hero-button').click(function() {
          ga('send', 'event', 'Accounts', 'Tool Landing Page', 'To Do Landing Create Account');
      });
    });
  </script>
<% end %>
