<div class="container">
  <h1 class="text-center color-pink font-script">New Printable</h1>
  <%= render 'form', printable: @printable %>

  <%= link_to 'Back', printables_path %>
</div> <!-- container -->
