<% if !@basket_item.nil? && @basket_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @basket_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if @basket_items.size == 0 %>
  <p class="text-center">
    There are no items in your shopping cart.  Want to check out our <%= link_to "store", goodies_path %>?
  </p>
<% else %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Quantity</th>
      <th scope="col" class="text-right">Price</th>
    </tr>
  </thead>
  <tbody>

  <% @basket_items.each do |basket_item| %>
    <%= render 'carts/cart_row', variation: basket_item.variation, basket_item: basket_item, show_total: true %>
  <% end %>

    <tr class="bg-self">
      <td></td>
      <td style="text-align: right; font-weight: 700">Order Total:</td>
      <td style="text-align: right; font-weight: 700"><%= number_to_currency(current_basket.subtotal, unit: "$") %></td>
    </tr>

  </tbody>
  </table>

<% end %>
