<div class="container">
  <h1 class="text-center font-script">My Cart</h1>

  <div class="half-buffer"></div>

  <div class="shopping-cart">
    <%= render "shopping_cart" %>
  </div> <!-- shopping cart -->
</div> <!-- container -->
