<!-- page-specific content -->
  <% title "New Recipe | SSM" %>
  <%= content_for :head do %>
    <meta name="description" content="Create a new culinary masterpiece...or grilled cheeese." />
  <% end %>
<!-- page-specific content -->

<div class="container">
  <h1 class="font-script text-center color-pink">Create a New Meal</h1>
  <div class="half-buffer"></div>

  <%= render 'form', meal: @meal %>

</div> <!-- container -->
