<section class="bg-pink py-5 color-white z-depth-4-y">
	<div class="container">
		<div class="row">

		    <div class="col-12 text-center pb-2">
		        <h2 class="h2">
		            Download our free checklist to&nbsp;create habits that keep&nbsp;you&nbsp;sane.
		        </h2>
		    </div> <!-- col -->

		    <div class="col-md-5 text-center px-5 px-md-3">
		        <img class="my-4" style="max-width: 100%; height: auto"
		        	src="https://staysanemom.s3.us-west-1.amazonaws.com/111-Sales+Images/Cover+Art.png"
	        	>
		    </div> <!-- col -->

		    <div class="col-md-7 text-center text-md-left">
		        <p>You feel like you're going crazy.</p>
				<p>Your kids are bonkers, your free time is nonexistent, you sleep 2.7 nonconsecutive hours a night....it's all falling apart.</p>
				<p>Here's what you need to include in your day to start feeling like a real human again.</p>
		    </div> <!-- col -->

		    <div class="col-12 text-center pb-2">
		        <p class="bold h4">Easy, quick actions you can take to feel like yourself again.</p>
		        <script async src="//tinder.thrivecart.com/embed/v1/thrivecart.js"></script>
		        <a data-thrivecart-account="linchpin-industries" data-thrivecart-tpl="v2" data-thrivecart-product="75" class="thrivecart-button btn btn-white font-weight-bold"> 
		        	Get It Free</a>
		    </div> <!-- col -->

		</div> <!-- row -->
	</div> <!-- container -->

</section>