<section class="bg-pink py-5 color-white z-depth-4-y">
	<div class="container">
		<div class="row">

		    <div class="col-12 text-center pb-2">
		        <h2 class="h2">
		            Need a mom friend right <em>freaking</em> now?
		        </h2>
		    </div> <!-- col -->

		    <div class="col-md-5 text-center px-5 px-md-3">
		        <img class="my-4" style="max-width: 100%; height: auto"
		        	src="https://staysanemom.s3.us-west-1.amazonaws.com/111-Sales+Images/SSM++Course++Sanity+Saver.png"
	        	>
		    </div> <!-- col -->

		    <div class="col-md-7 text-center text-md-left">
                <p>Sometimes you just need a breath.  You're about to go crazy and you just need another human who gets it.</p>
                <p>That's me.  <em>*raises hand*</em></p>
                <p>Get free, sanity saving videos, direct to your email inbox for the next 7 days.  These videos are all created to give you the support, companionship, and strategy you need.</p>
		    </div> <!-- col -->

		    <div class="col-12 text-center pb-2">
		        <p class="bold h4">A tiny mom friend that lives in your computer.</p>

                <script async src="//tinder.thrivecart.com/embed/v1/thrivecart.js"></script>
                <a data-thrivecart-account="linchpin-industries" data-thrivecart-tpl="v2" data-thrivecart-product="39" class="thrivecart-button btn btn-white z-depth-3 font-weight-bold">
                    Get Help Now
                </a>
                <a href="https://www.thestaysanemom.com/freebies/7-day-sanity-booster" class="btn btn-neutral bg-grey-light z-depth-2">
                    More Info
                </a>

		    </div> <!-- col -->

		</div> <!-- row -->
	</div> <!-- container -->

</section>