<div class="container pt-2">
  <header class="text-center">
    <h1 class="font-script color-spouse">Free Resources</h1>
    <% if current_user && current_user.admin %>
      <%= link_to 'New', new_freebie_path, class: "btn btn-grey-light btn-sm" %>
      <%= link_to 'Admin Page', admin_freebies_path, class: "btn btn-grey-light btn-sm" %>
    <% end %>
  </header>


  <div class="row">
    <% @freebies.each do |freebie| %>
      <%= render partial: "freebies/card", locals: { freebie: freebie } %>
    <% end %>
  </div>
</div>


<%= content_for :additional_js do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.card-title').matchHeight();
    });
  </script>
<% end %>
