<div class="container pt-2">
  <h1 class="text-center font-script color-spouse">Free Resources</h1>

  <div class="row">
    <% @freebies.each do |freebie| %>
      <%= render partial: "freebies/card", locals: { freebie: freebie } %>
    <% end %>
  </div>
</div>


<%= content_for :additional_js do %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.card-title').matchHeight();
    });
  </script>
<% end %>
