<!DOCTYPE html>
<html>

  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <hr style="border: 0; border-top: solid 2px #fd1270;" />
    <h1 style="text-align: center">Congratulations!</h1>
    <hr style="border: 0; border-top: solid 2px #fd1270; margin-bottom: 25px" />
    <p>
      Hi <%= @contribution.name %>,
    </p>
    <p>
      Thank you so much for your idea for a guest post on <em>The Stay Sane Mom</em>!  I really liked your topic and think it could bring a lot of value for our readers.
    </p>
    <p>
      Before you start writing, here are a couple of annoyingly important details for our guest authors:
    </p>
    <p>
      <strong>Original Content Only: </strong>We only publish original content, so if this idea is already on your site it wouldn’t be a fit for publication on <em>The Stay Sane Mom</em>.  If this is the case and you have another similar or related topic you’d like to write on, feel free to write on that instead.
    </p>
    <p>
      <strong>Setting Up Your Account: </strong>I’ve preauthorized you as a contributor, so all you have to do to get started is create an account (using this email address as your login info) and you’ll immediately be able to start writing.  You can create a new blog from the “blogs” page (the button will appear once you create an account) and your drafts (and published pieces) are always visible on the “drafts” page.  You'll also get a magically-appearing "contributor actions" dropdown menu in the sidebar whenever you're logged in to your account.
    </p>
    <p>
      <strong>Claim Your Backlinks: </strong>You'll have an author biobox, including an about me blurb, your life motto (no pressure), your social media links, and your all-important website backlink.  Head to your "my account" page to complete all this info as soon as you set up your account.  You only need to do it once (no matter how many times you guest post) and it'll automatically go on all your guest blogs (so there's no need to add a bio in the blog itself).
    </p>
    <p>
      <strong>Want to Guest Post Again? </strong>If you ever want to write another guest post for us, feel free to create a new blog any time.  As a previous guest poster, you don't have to get your ideas pre-approved.  Just submit your new post whenever it's ready and I'll review and schedule it ASAP.
    </p>
    <p>
      <strong>In Case of Confuzzlement: </strong>If in doubt, in-depth instructions for contributors can always be found on the “my account” page or in the "contributor welcome" tab on the sidebar.
    </p>
    <p>
      Thanks again for being part of the SSM family!  We're a small, dysfuctional bunch of wonderful people.  You'll fit right in.  I look forward to reading your article!
    </p>
    <p>
      Stay Sane,
      <br>Liz
    </p>
    <p>
      P.S. Just in case you need a reminder, here was your idea:  <%= @contribution.idea %>
    </p>
    <p>
      P.P.S. If you have any issues, feel free to email us at <a href="mailto:liz@theStaySaneMom.com" style="color: #fd1270; font-weight: 700; text-decoration: none">liz@theStaySaneMom.com</a>.
    </p>

    <hr style="border: 0; border-top: solid 2px #fd1270; margin-top: 25px" />
    <img src="https://staysanemom.s3-us-west-1.amazonaws.com/111-images/SSM+Logo.jpg" style="width: 50px; display: block; margin-right: auto; margin-left: auto">
    <hr style="border: 0; border-top: solid 2px #fd1270;" />
  </body>

</html>
