/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 *= require magnific-popup
 *= require jquery-ui
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';
@import 'font_awesome5_webfont';
@import 'font_awesome5.css';
@import 'bootstrap-datetimepicker';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'plugins/char_counter.min.css';
@import 'plugins/code_view.min.css';
@import 'plugins/colors.min.css';
@import 'plugins/fullscreen.min.css';
@import 'plugins/image_manager.min.css';
@import 'plugins/image.min.css';
@import 'plugins/line_breaker.min.css';
@import 'plugins/quick_insert.min.css';
@import 'plugins/special_characters.min.css';
@import 'plugins/table.min.css';
@import 'third_party/embedly.min.css';
@import 'third_party/spell_checker.min.css';
@import 'mdb/mdb';

@font-face {
  font-family: "PlaylistScript";
  src: asset-url("PlaylistScript.otf") format("opentype");
}

@font-face {
  font-family: "PlaylistCaps";
  src: asset-url("PlaylistCaps.otf") format("opentype");
}

@font-face {
  font-family: "Madelyn";
  src: asset-url("Madelyn.otf") format("opentype");
}






$font-sans: 'Roboto', sans-serif;
$font-script: 'Madelyn', 'Arizonia', cursive;
$font-script-caps: 'PlaylistCaps', sans-serif;

$color-pink: #fd1270 !important;
$color-pink-dark: #d41e66 !important;

$color-neutral: #5f585b !important; // #B7AD99;
$color-neutral-light: #e3d9d8 !important;
$color-black: #000000 !important;
$color-white: #ffffff !important;

$transparent-pink: rgba(253, 18, 112, 0.3);
$transparent-neutral: rgba(96, 96, 96, 0.3);
$transparent-white: rgba(255, 255, 255, 0.3);
$transparent-whiteish: rgba(210, 210, 210, 0.4);
$transparent-black: rgba(0, 0, 0, 0.4);

$z-depth-1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$z-depth-2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$z-depth-3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$z-depth-4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$z-depth-5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

$z-depth-1-y: 0 1px 3px rgba(0,0,0,0.12), 0 -5px 1px 3px rgba(0,0,0,0.12);
$z-depth-2-y: 0 3px 6px rgba(0,0,0,0.16), 0 -5px 3px 6px rgba(0,0,0,0.16);
$z-depth-3-y: 0 10px 20px rgba(0,0,0,0.19), 0 -5px 10px 20px rgba(0,0,0,0.19);
$z-depth-4-y: 0 14px 28px rgba(0,0,0,0.25), 0 -5px 14px 28px rgba(0,0,0,0.25);
$z-depth-5-y: 0 19px 38px rgba(0,0,0,0.30), 0 -5px 19px 38px rgba(0,0,0,0.30);

* { font-family: $font-sans; }
a { color: $color-neutral; font-weight: 700; }
p a, h3 a, h4 a { color: $color-pink; }
a:hover { color: $color-neutral; font-weight: 700; text-decoration: none; }

a.color-pink:hover { color: $color-pink; }
a.color-white:hover { color: $color-white; }


h1, .h1 { font-size: 60px; }
h2, .h2 { font-size: 50px; }
.h2-pink h2 { color: $color-pink; border-bottom: solid thin $color-pink; margin-bottom: 15px; margin-top: 30px; }

.font-sans { font-family: $font-sans }
.font-script, .font-cursive { font-family: $font-script }
.font-bold { font-weight: 700 }


.z-depth-1 { box-shadow: $z-depth-1;}
.z-depth-2 { box-shadow: $z-depth-2;}
.z-depth-3 { box-shadow: $z-depth-3;}
.z-depth-4 { box-shadow: $z-depth-4;}
.z-depth-5 { box-shadow: $z-depth-5;}
.z-depth-1-y { box-shadow: $z-depth-1-y;}
.z-depth-2-y { box-shadow: $z-depth-2-y;}
.z-depth-3-y { box-shadow: $z-depth-3-y;}
.z-depth-4-y { box-shadow: $z-depth-4-y;}
.z-depth-5-y { box-shadow: $z-depth-5-y;}

.z-over { z-index: 20; position: relative }
.z-under { z-index: 10; position: relative }


.bg-transparent-pink { background-color: $transparent-pink; }
.bg-transparent-white { background-color: $transparent-white; }
.bg-transparent-whiteish { background-color: $transparent-whiteish; }
.bg-transparent-black { background-color: $transparent-black; }
.bg-transparent-pink { background-color: $transparent-pink !important; }
.bg-transparent-neutral { background-color: $transparent-neutral !important; }
.bg-transparent-neutral-dark { background-color: $color-neutral !important; }

.color-white, .color-white * { color: #FFFFFF !important; }
.color-pink { color: $color-pink; }
.color-neutral { color: $color-neutral; }
.color-neutral-light { color: $color-neutral-light; }
.color-black { color: $color-black; }

.color-white-hover:hover, .color-white-hover:hover * { color: #FFFFFF !important; }
.color-pink-hover:hover { color: $color-pink; }
.color-neutral-hover:hover { color: $color-neutral; }
.color-neutral-light-hover:hover { color: $color-neutral-light; }
.color-neutral-hover:hover { color: $color-neutral; }
.color-black-hover:hover { color: $color-black; }

.border-pink { border: solid $color-pink; }
.border-neutral { border: solid $color-neutral; }


.bg-pink { background-color: $color-pink; }
.bg-neutral { background-color: $color-neutral; }
.bg-neutral-dark { background-color: $color-neutral; }

.border-bottom-spouse { border-bottom: solid medium $color-pink; }

.transparent-hover.house:hover { background-color: $transparent-pink; }
.transparent-hover.spouse:hover { background-color: $transparent-pink; }
.transparent-hover.marriage:hover { background-color: $transparent-pink; }
.transparent-hover.kids:hover { background-color: $transparent-pink; }
.transparent-hover.self:hover, .transparent-hover.balance:hover { background-color: $transparent-pink; }
.transparent-hover.neutral:hover { background-color: $transparent-neutral; }




.display-1 {
  font-size: calc(1.625rem + 4.5vw);
  font-weight: 300;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .display-1 {
    font-size: 5rem;
  }
}

.display-2 {
  font-size: calc(1.575rem + 3.9vw);
  font-weight: 300;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .display-2 {
    font-size: 4.5rem;
  }
}

.display-3 {
  font-size: calc(1.525rem + 3.3vw);
  font-weight: 300;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .display-3 {
    font-size: 4rem;
  }
}

.display-4 {
  font-size: calc(1.475rem + 2.7vw);
  font-weight: 300;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .display-4 {
    font-size: 3.5rem;
  }
}

.display-5 {
  font-size: calc(1.425rem + 2.1vw);
  font-weight: 300;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .display-5 {
    font-size: 3rem;
  }
}

.display-6 {
  font-size: calc(1.375rem + 1.5vw);
  font-weight: 300;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .display-6 {
    font-size: 2.5rem;
  }
}






p { font-size: 1.2rem; }
strong { font-weight: 900 }
.p-bottom-margin br { display: block; margin-bottom: 8px; }

.section-title { font-family: $font-script; font-size: 4.5rem; text-align: center; }
.big-title { line-height: 1; font-family: $font-script; font-size: 7.5rem; color: $color-pink; text-align: center; }

@media screen and (max-width: 768px) {
  .big-title { font-size: 5.5rem; }
}

.btn.btn-pink, .thrivecart-button { 
  background-color: $color-pink; 
  color: $color-white; 
  border: solid thin $color-pink;
  border-radius: 0px;
  padding: 0.84rem 2.14rem !important;
  font-size: 0.81rem !important;
  box-shadow: #z-depth-2 !important;
  margin: 0.375rem;
  border: 0;
  border-radius: 0.125rem;
  cursor: pointer;
  text-transform: uppercase;
  white-space: normal;
  word-wrap: break-word;
  color: #fff;
  font-weight: 400;
  font-family: $font-sans !important;
}

.btn-pink * { color: $color-white; }
.btn-pink:hover * { color: $color-pink; }

.btn.btn-neutral { background-color: $color-neutral; color: $color-white; border: solid thin $color-neutral;}
.btn.btn-neutral-light, .btn.btn-grey-light { background-color: $color-neutral-light; color: $color-black; border: solid thin $color-neutral-light;}

.btn.btn-pink:hover, .thrivecart-button:hover { background-color: $color-white; color: $color-pink; }
.btn.btn-neutral:hover { background-color: $color-white; color: $color-neutral; }
.btn.btn-neutral-light:hover { box-shadow: none !important; border: solid medium $color-neutral !important; background-color: $color-white; color: $color-neutral; }

.bottom-link .thrivecart-button { padding: 1rem 2.4rem; font-size: 0.94rem; }

.thin, .thin:hover { font-weight: 100 }
.uppercase { text-transform: uppercase; }

.header-stripe {
  text-align: center;
  background-color: $color-pink;
  font-weight: 200;
  color: $color-white;
  padding: 30px;
  line-height: 1;
}

ul.checkmarks {
  list-style: none;
}

ul.checkmarks li:before {
  color: $color-pink;
  font-size: 1.5rem;
  padding-right: 20px;
  margin-left: -10px;
  content: '✓';
}

body {
  background:linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(https://staysanemom.s3.us-west-1.amazonaws.com/111-images/white-marble-bg.jpeg);

  background-repeat: no-repeat;
  background-attachment: fixed;
}


@media screen and (min-width: 1440px) {
  body {
    padding-left: 240px;
  }
}

.hidden { display: none; }

.badge { padding: 10px 15px; cursor: pointer; }

.thumbnail {
  height: 250px;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.thumbnail-sm {
  height: 150px;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.image-cropper {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}



.padded { padding: 15px; }
.full-width { width: 100%; }
td.min { width: 1px; white-space: nowrap; text-align: center; padding: .6rem; }


.linkish {
  cursor: pointer;
  color: $color-pink;
}

hr { width: 50%; border-color: $color-neutral; }

p, p em, p li, li p { font-weight: 300 }
p a { font-weight: 700 }

p.large-p, .large-p p {
  font-size: 20px;
}

.buffer { height: 50px; }
.half-buffer { height: 25px; }

.btn { background: transparent; }

.pin-only {
  height: 0;
  width: 0;
}

.datepicker {z-index:1151 !important;}

.weight-400 { font-weight: 400 !important; }
.boldest { font-weight: 900 }

.font-sans p, .font-sans p a { font-family: $font-sans !important; }

html {
  scroll-behavior: smooth;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(253, 18, 112, 0.8);
  box-shadow: 0 1px 1px rgba(253, 18, 112, 1) inset, 0 0 8px rgba(253, 18, 112, 0.6);
  outline: 0 none;
}

label {
  text-transform: capitalize !important;
}

.alert {
  background-color: $color-pink;
  border-color: $color-white;
  color: $color-white;
  border-radius: 0px;
}

td { padding: 5px 10px 5px 0px; vertical-align: top }
td p { margin-bottom: 0 }

.card:hover {
  box-shadow: 0 14px 28px rgba(183, 173, 153,0.30), 0 10px 10px rgba(183, 173, 153,0.22);
}

main { padding: 0 !important; }

.mycard {
  box-shadow: 0 14px 28px rgba(183, 173, 153,0.30), 0 10px 10px rgba(183, 173, 153,0.22);
  border: 5px solid $transparent-neutral;
}

.mycard.padded {
  padding: 40px 25px 40px 25px;
  margin-bottom: 20px;
}

.mycard.hover:hover {
  border: 5px solid $color-neutral;
}

.script-header {
  font-size: 50px;
  font-family: $font-script;
  margin: 50px 0 10px 0;
  color: $color-neutral;
}

// magnificPopup
.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

table.lined-table td {
  padding: 5px 10px 5px 10px;
  border-top: solid thin $color-neutral;
  border-bottom: solid thin $color-neutral;
}

table.table.thin th, table.table.thin td {
  padding-top: 0.1px;
  padding-bottom: 0px;
}


















// ---------------------------
// ---------------------------
// ---------------------------
// ---------- IMAGES ---------
// ---------------------------
// ---------------------------

.frame {
  background: transparent no-repeat center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

.image-overlay { position: relative; width: 100%; height: 100% }
.blog-card:hover .image-overlay-house { background-color: $transparent-pink; width: 100%; height: 100%; }
.blog-card:hover .image-overlay-spouse { background-color: $transparent-pink; width: 100%; height: 100%; }
.blog-card:hover .image-overlay-kids { background-color: $transparent-pink; width: 100%; height: 100%; }
.blog-card:hover .image-overlay-self { background-color: $transparent-pink; width: 100%; height: 100%; }
.blog-card:hover .image-overlay-neutral { background-color: $transparent-neutral; width: 100%; height: 100%; }
.blog-card:hover .image-overlay-white { background-color: $transparent-whiteish; width: 100%; height: 100%; }

.image-overlay-white { background-color: $transparent-whiteish; width: 100%; height: 100%; }
.image-overlay-black { background-color: $transparent-black; width: 100%; height: 100%; }

.over-frame-text {
  position: relative;
  margin-top: -400px;
  height: 400px;
  z-index: 100;
}

.over-frame-text .container {
  padding: 5px;
}

.over-frame-text h1 {
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  color: $color-black;
  padding-left: 30px;
  padding-right: 30px;
}

.over-frame-text h1.color-white {
  color: $color-white;
}

.over-frame-text h4 {
  padding-right: 30px;
}

.over-frame-text h3 {
  font-weight: 700 !important;
}

.over-frame-bottom-row {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.over-frame-bottom-row h3 {
  color: $color-black;
}

.header-frame {
  height: 450px;
  margin-top: 40px !important;
}

// XS DEVICES
@media screen and (max-width: 768px) {
  .inner-frame {
    border-color: transparent !important;
  }
}

// SMALL DEVICES
@media screen and (min-width: 768px) {
  .header-frame {
    width: 750px;
    margin: 20px 0 0px -20px;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
  }

  .inner-frame {
    position: absolute;
    display: block;
    height: 490px;
    margin-top: -20px;
    width: 710px;
    margin-left: 20px;
    overflow: visible;
    z-index: 20;
  }

  .over-frame-text {
    margin-bottom: 40px; // White padding below image
  }
}

// MEDIUM DEVICES
@media screen and (min-width: 992px) {
  .header-frame { width: 970px; }
  .inner-frame { width: 930px; }
  .over-frame-text { margin-bottom: 60px; }
}

// LARGE DEVICES
@media screen and (min-width: 1200px) {
  .header-frame { width: 1170px; }
  .inner-frame { width: 1130px; }
  .over-frame-text { margin-bottom: 80px; }
}

@media screen and (min-width: 1500px) {
  .header-frame { height: 550px; }
  .inner-frame { height: 590px; }

  .over-frame-text {
    height: 500px;
    margin-top: -500px;
  }
}


















// ---------------------------
// ---------------------------
// ---------------------------
// ------ INDEX PAGE ---------
// ---------------------------
// ---------------------------

// HOMEPAGE 3.0

.masthead {
  background-color: $color-neutral-light;
  padding-top: 9.5rem;
  padding-bottom: 5rem;
}

@media screen and (max-width: 1100px) {
  .masthead {
    padding-top: 3.5rem;
    padding-bottom: 4rem;
  }
}

.classy-pic {
  background: $color-white;
  max-width: 100%;
  height: auto;
  box-shadow: $z-depth-3;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.tilt-right { transform: rotate(3deg); }
.tilt-left { transform: rotate(-3deg); }
.tilt-right.extra { transform: rotate(6deg); }
.tilt-left.extra { transform: rotate(-6deg); }
@media screen and (max-width: 1100px) {
  .no-tilt-sm { transform: rotate(0deg); }
}

.texture-paint {
  min-height:100%;
  background:linear-gradient(0deg, rgba(227, 217, 216, 0.6), 
    rgba(227, 217, 216, 0.4)), 
    url(https://staysanemom.s3.us-west-1.amazonaws.com/111-images/paint.jpeg);
  background-size:cover;
}

.texture-crumpled-paper {
  min-height:100%;
  background:linear-gradient(0deg, rgba(227, 217, 216, 0.9), 
    rgba(227, 217, 216, 0.8)), 
    url(https://staysanemom.s3.us-west-1.amazonaws.com/111-images/paper.jpeg);
  background-size:cover;
}

.texture-leaves {
  min-height:100%;
  background:linear-gradient(0deg, rgba(227, 217, 216, 0.9), 
    rgba(227, 217, 216, 0.8)), 
    url(https://staysanemom.s3.us-west-1.amazonaws.com/111-images/paper.jpeg);
  background-size:cover;
}

.texture-hands {
  min-height:100%;
  background:linear-gradient(0deg, rgba(227, 217, 216, 0.9), 
    rgba(227, 217, 216, 0.8)), 
    url(https://staysanemom.s3.us-west-1.amazonaws.com/111-images/Girl+Hands.jpeg);
  background-size:cover;
}

section.texture-hands {
  position: relative;
  padding: 15rem 0;
  background-image: url("https://staysanemom.s3.us-west-1.amazonaws.com/111-images/Girl+Hands.jpeg");
  background-position: center;
  background-size: cover;
}
section.texture-hands .texture-hands content {
  position: relative;
  z-index: 1;
}
section.texture-hands:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(227, 217, 216, 0.8);
}






// LEGACY

@media screen and (max-width: 768px) {
  #about {
    font-size: .8rem;
  }
  #about * {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  #about .jarallax {
    height: 1000px;
  }
}

.seva-form.formkit-form {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.convert-kit .seva-form {
  width: 100% !important;
}


.convert-kit .seva-form .formkit-field {
  width: 200px !important;
  display: inline-block !important;
}

.rounded-image {
  height: 160px;
  border: solid 1px $color-neutral;
  margin-bottom: 15px;
  box-shadow: 0 14px 28px rgba(183, 173, 153,0.30), 0 10px 10px rgba(183, 173, 153,0.22);
}

.about-me p {
  text-align: justify;
  font-size: 15px !important;
  font-family: $font-sans !important;
}

.about-me h5 {
  font-weight: 700;
}

.about-me-image {
  width: 100%;
  max-width: 400px;
  height: auto;
  padding-bottom: 20px
}

.tilted-card {
  background-color: white;
  box-shadow: 0 14px 28px rgba(183, 173, 153,0.30), 0 10px 10px rgba(183, 173, 153,0.22);
  transform: rotate(-2deg);
  padding: 15px;
  margin: 20px 0;
}

@media screen and (max-width: 1100px) {
  .tilted-card {
    transform: rotate(0deg);
  }
}

.tilted-card p {
  color: black;
  font-size: .9rem;
  line-height: 1.2;
  margin-bottom: 10px;
}

.tilted-card h3 {
  text-align: center;
  font-family: $font-script;
  color: $color-pink;
  font-size: 4rem;
}

.category-div {
  position: relative;
  padding-bottom: 10px;
}

.category-callouts .category-div {
  margin: 15px 0 15px 0;
  border-width: 1px;
}

.category-callouts .category-frame {
  width: 100%;
  height: 150px;
}

.category-callouts h3 {
  font-family: $font-script;
  font-size: 40px;
}

.category-callouts p {
  font-weight: 400 !important;
  font-size: 15px !important;
  font-family: $font-sans !important;
}

.category-callouts .text {
  padding: 15px;
  position: relative;
}

.category-div h5 {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  font-weight: 700;
}







// ---------------------------
// ---------------------------
// ---------------------------
// -------- FORMS -----------
// ---------------------------
// ---------------------------

.padded-form-text {
  margin-left: 60px;
}

.planner-form h2 {
  text-align: center;
  font-family: $font-script;
  font-size: 2.5em;
}

.planner-form ::placeholder {
  color: $color-neutral-light
}












// ---------------------------
// ---------------------------
// ---------------------------
// -------- SEARCH -----------
// ---------------------------
// ---------------------------

.search-bar input {
  margin: 0px 10px 0 0;
  font-size: 0.8em;
  padding: 5px;
  border-radius: 5px;
  width: 225px;
}








// ---------------------------
// ---------------------------
// ---------------------------
// -------- NAVBAR -----------
// ---------------------------
// ---------------------------

#newNavBar {
  margin-top: 40px;
}

#nav-timeline .col-1 {
  padding: 0;
}

#nav-timeline .col-1 p {
  font-size: .7rem;
  text-transform: uppercase;
  font-weight: 800;
  padding-top: 5px;
}

#nav-timeline .col-1:hover p {
  color: $color-black;
}

#nav-timeline img {
  height: 40px;
}

@media screen and (min-width: 1200px) {
  #nav-timeline img {
    height: 50px;
  }

  #nav-timeline .col-1 p {
    font-size: .8rem;
    text-transform: uppercase;
  }
}

#nav-timeline .navbar {
  box-shadow: none !important;
}

#nav-timeline * {
  font-size: .9rem
}


#top-bar {
  position: fixed;
  width: calc(100%);
  top: 0;
  z-index: 1035;
}

#top-bar .row {
  width: 100%;
}

#top-bar * {
  text-transform: uppercase;
  font-size: 1rem;
  color: white;
}
.w-100-plus15 { width: calc(100%); }


@media screen and (max-width: 768px) {
  .w-100-plus15 { width: calc(100% + 30px); }

  #top-bar * {
    font-size: .6rem;
  }
}

.side-nav #cart-text {
  color: $color-neutral;
}

.header-icon {
  margin: 0 5px 0 5px;
  height: 40px;
}

#house-icon i, #house-icon svg {
  color: $color-pink !important;
}

.navbar .navbar-nav .btn.btn-outline-primary {
  color: $color-neutral !important;
  border-color: $color-neutral !important;
  background-color: transparent !important;
}

@media screen and (min-width: 1440px) {
  .navbar-brand.left {
    margin-left: 230px;
  }
}

.navbar-brand img {
  height: 25px;
}

.navbar-brand p {
  font-size: 80%;
  margin-left: 5px;
  margin-bottom: 0;
}

.navbar-brand.right {
  margin-left: auto;
  margin-right: 0;
}

.nav-link.font-script {
  font-size: 25px;
  padding: 0 10px 0 10px;
  text-align: center;
}

.OGnavbar.bg-transparent-neutral {
  position: relative;
  width: 100%;
  justify-content: left;
}

.OGnavbar.bg-transparent-neutral p {
  margin-top: 14px;
}

.OGnavbar.bg-transparent-neutral p a {
  font-family: $font-sans !important;
  color: $color-neutral;
  font-weight: 800;
  font-size: 14px;
}

.OGnavbar.bg-transparent-neutral p a:hover {
  color: black;
}


.account-buttons {
  position: absolute;
  right: 0;
}

.OGnavbar.bg-transparent-neutral .btn-outline-primary {
  background-color: transparent !important;
}

.OGnavbar.bg-transparent-neutral .btn-outline-primary:hover {
  background-color: $color-neutral !important;
}

.header-logo {
  margin: 0px 0 5px 0;
  height: 40px;
  max-width: 100%;
}

.header-tagline {
  margin-bottom: 0px;
  font-size: 16px;
  font-family: $font-sans !important;
  line-height: 1.1;
  font-weight: 300;
}

.header-tagline:hover {
  text-decoration: none !important;
}

.OGnav-button {
  display: inline-block;
}

.OGnav-button a {
  font-family: $font-script;
  display: inline-block;
  font-size: 35px;
  padding-top: 5px;
  margin: 5px 10px 20px 10px;
}

.OGnav-button a:hover {
  font-weight: 700;
}

.OGnav-button a.color-pink:hover { color: $color-pink; border-color: $color-pink; }
.OGnav-button a.color-pink:hover { color: $color-pink; border-color: $color-pink; }
.OGnav-button a.color-pink:hover { color: $color-pink; border-color: $color-pink; }
.OGnav-button a.color-pink:hover { color: $color-pink; border-color: $color-pink; }

.small-tools {
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .OGnav-button a {
    margin: 10px 0px 30px 0px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 25px;
  }

  .OGnav-button {
    padding-left: 3px;
    padding-right: 3px;
  }

  .search-bar {
    text-align: center !important;
    margin: 10px 0 10px 0;
  }
}

.OGnav-button:hover a {
  border-top: solid thin;
  border-bottom: solid thin;
  font-weight: 400;
}

.OGnavbar {
  height: 45px;
}

.OGnavbar .btn-outline-primary {
  height: 30px;
  font-size: 14px;
  padding: 4px 10px 4px 10px;
}

.btn-outline-primary {
  color: $color-neutral !important;
  border-color: $color-neutral !important;
  background-color: transparent !important;
}

.btn-outline-primary:hover {
  background-color: $color-neutral !important;
  border-color: $color-neutral;
  font-weight: 400;
}

.button-outline-primary, .button-outline-primary:focus, .button-outline-primary:active {
  background-color: transparent !important;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.social-icon {
  margin: 0px 10px 0 10px;
  font-size: 25px !important;
}

.btn-outline-house {
  color: $color-pink !important;
  border: solid medium $color-pink;
  background-color: $transparent-white !important;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
}

.my-btn-outline-house:hover {
  color: $color-pink !important;
  border-color: white;
  background-color: $transparent-neutral !important;
}

.my-btn-outline-secondary {
  color: $color-black !important;
  border: solid medium $color-black;
  background-color: $transparent-white !important;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
}

.my-btn-outline-secondary:hover {
  color: black !important;
  border-color: white;
  background-color: $transparent-neutral !important;
}

.btn-outline-tertiary {
  color: white !important;
  border: solid medium white;
  background-color: $transparent-neutral !important;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
}

.btn-outline-tertiary:hover {
  color: $color-pink !important;
  border-color: $color-pink;
  background-color: white !important;
}






// ---------------------------
// ---------------------------
// ---------------------------
// -------- FOOTER -----------
// ---------------------------
// ---------------------------

.non-footer {
  min-height: calc(100vh - 300px);
}

footer {
  background-color: $color-white;
  padding: 20px 0 0 0;
  margin-top: 50px;
  line-height: 1.2;
  font-size: 14px;
}

footer p, footer p em {
  font-weight: 300;
  color: black !important;
  font-family: $font-sans !important;
}

.post-footer {
  padding: 20px;
}

.post-footer p a, .post-footer p {
  font-family: $font-sans !important;
}

.post-footer .side-links p {
  margin-bottom: 5px;
  text-align: right;
}

.post-footer .side-links a:hover {
  color: $color-pink;
}

.copyright {
  margin-bottom: 0 !important;
  margin-top: 5px;
  padding: 10px;
}

.post-footer .social-icon {
  color: $color-pink;
}

.post-footer .social-icon:hover {
  color: black !important;
}

@media screen and (max-width: 768px) {
  .post-footer .side-links {
    margin-top: 10px;
  }

  .post-footer .side-links p {
    text-align: center !important;
  }
}









// ---------------------------
// ---------------------------
// ---------------------------
// -------- BIOBOX -----------
// --------USER PAGE----------
// ---------------------------

.biobox {
  padding: 25px 0px 25px 0px;
}

.border-row .block {
  box-sizing: content-box;
  width: calc(25% + 1px);
  height: 5px;
  display: inline-block;
  margin: 0px;
  margin-left: -4px;
  padding: 0px;
  border: none
}

.solid-house { background-color: $color-pink; }
.solid-spouse { background-color: $color-pink; }
.solid-kids { background-color: $color-pink; }
.solid-self { background-color: $color-pink; }

.biobox-image {
  display: inline-block;
}

.biobox img {
  width: 100%;
  max-width: 300px;
}

.biobox-image {
  display: inline-block;
}

.biobox h3 {
  text-align: center;
  color: $color-pink;
  font-family: $font-script;
  margin-top: 15px;
}

.biobox h4 {
  color: $color-pink;
  font-weight: 700;
}

.biobox p {
  color: $color-neutral;
  text-align: justify;
  font-family: $font-sans !important;
  font-size: 15px !important;
}

.tool-box h5 {
  margin-top: 10px;
}

.user-edit h2 {
  font-family: $font-script;
  font-size: 50px;
  margin-bottom: 20px;
  color: $color-pink;
  text-align: center;
}





// ---------------------------
// ---------------------------
// ---------------------------
// --------- BLOGS -----------
// ---------------------------
// ---------------------------

.blog-show-header h1, .blog-show em h1 {
  color: $color-pink !important;
  font-weight: 900 !important;
  font-family: $font-sans;
}

#blog-body .blog-itself h2, #blog-body .blog-itself em h2 {
  color: $color-pink;
  font-size: 2.6rem;
  font-weight: 200;
  font-family: $font-sans;
}

#blog-body .blog-itself h3, #blog-body .blog-itself em h3 {
  color: $color-pink;
  font-weight: 900;
  font-family: $font-sans;
}

#blog-body .blog-itself h3 a {
  color: $color-pink !important;
  font-weight: 900 !important;
  text-decoration: underline;
  font-family: $font-sans;
}

#blog-body .blog-itself h4, #blog-body .blog-itself em h4 {
  color: $color-neutral !important;
  font-weight: 900 !important;
  font-family: $font-sans;
}

#blog-body .blog-itself h5, #blog-body .blog-itself em h5 {
  color: $color-neutral !important;
  font-weight: 400 !important;
  text-decoration: underline;
}

#blog-body img {
  max-width: 100%;
  max-height: 500px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.flag {
  position: absolute;
  margin-top: 15px;
  padding: 3px 10px 3px 5px;
  color: white;
  font-weight: 700;
}

.house .flag { background-color: $color-pink; }
.spouse .flag { background-color: $color-pink; }
.kids .flag { background-color: $color-pink; }
.self .flag { background-color: $color-pink; }
.neutral .flag { background-color: $color-neutral; }


.blog-card {
  position: relative;
  box-sizing: border-box;
  margin: 10px 0 25px 0 !important;
  height: 275px;
  width: 100%;
}

.blog-frame {
  display: inline-block;
  height: 275px;
  width: 25%;
  background: transparent no-repeat center;
  background-size: cover;
  vertical-align: top;
}

.blog-itself p, .blog-itself div, .blog-itself em {
  font-family: $font-sans;
}

.blog-itself div img {
  max-width: 100%;
}

.blog-text {
  width: 74%;
  display: inline-block;
  vertical-align: top;
  padding: 10px 20px 0 20px;
}

.blog-text h2 {
  font-weight: bold;
}

.blog-text p, .blog-text p a {
  font-weight: 400 !important;
  font-family: $font-sans !important;
  font-size: 15px;
}

.blog-text p strong {
  font-family: $font-sans !important;
  font-size: 15px;
}

.blog-info {
  margin: 20px 0 20px 0;
}

.blog-card:hover p {
  font-weight: 400 !important;
}

.blog-card .house { border: 1px solid $color-pink; box-shadow: 0 10px 20px rgba(254, 84, 84,0.19), 0 6px 6px rgba(254, 84, 84,0.23); }
.blog-card .spouse { border: 1px solid $color-pink; box-shadow: 0 10px 20px rgba(253, 18, 112,0.19), 0 6px 6px rgba(253, 18, 112,0.23); }
.blog-card .kids { border: 1px solid $color-pink; box-shadow: 0 10px 20px rgba(192, 2, 167,0.19), 0 6px 6px rgba(192, 2, 167,0.23); }
.blog-card .self { border: 1px solid $color-pink; box-shadow: 0 10px 20px rgba(108, 12, 157,0.19), 0 6px 6px rgba(108, 12, 157,0.23); }
.blog-card .other { border: 1px solid $color-neutral; box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); }

.blog-card .house h2 { color: $color-pink; }
.blog-card .spouse h2 { color: $color-pink; }
.blog-card .kids h2 { color: $color-pink; }
.blog-card .self h2 { color: $color-pink; }
.blog-card .other h2 { color: $color-neutral; }

.pagination {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pagination em, .pagination a {
  margin-right: 8px;
}

.pin-image-stripe img {
  width: 20%;
  max-width: 200px;
  min-width: 75px;
  padding: 0 10px 0 10px;
}

@media screen and (max-width: 768px) {
  .blog-card {
    position: relative;
    box-sizing: border-box;
    margin: 15px 0 15px 0;
    height: auto;
  }

  .blog-frame {
    display: block;
    width: 100%;
    height: 250px;
    background: transparent no-repeat center;
    background-size: cover;
    vertical-align: top;
  }

  .blog-card:hover .blog-frame {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .blog-card {
    position: relative;
    box-sizing: border-box;
    margin: 15px;
    height: auto;
    display: inline-block !important;
  }

  .blog-frame {
    display: block;
    width: 100%;
    height: 250px;
    background: transparent no-repeat center;
    background-size: cover;
    vertical-align: top;
  }

  .blog-text {
    width: 100%;
  }

  .blog-card:hover .blog-frame {
    width: 100%;
  }
}








// ---------------------------
// ---------------------------
// ---------------------------
// ------- Category ----------
// ----------Pages------------
// ---------------------------

.resource-stripe h3 {
  font-weight: 900;
  margin: 8px 0 0 0;
}

.bg-transparent-pink .resource-stripe h3 { color: $color-pink }
.bg-transparent-pink .resource-stripe h3 { color: $color-pink }
.bg-transparent-pink .resource-stripe h3 { color: $color-pink }
.bg-transparent-pink .resource-stripe h3 { color: $color-pink }
.bg-transparent-neutral .resource-stripe h3 { color: $color-neutral }




// ---------------------------
// ---------------------------
// ---------------------------
// ----- LANDING PAGES -------
// ---------------------------
// ---------------------------

.formkit-header h2 {
  text-align: center;
  font-size: 28px;
}

.outline-box {
  background-color: $color-white;
  padding: 30px;
  border: solid thick $color-pink;
}

h3.landing-subheading {
  line-height: 1.2;
}

#ck-embed form {
  box-shadow: $z-depth-5;
}


.product-image {
  height: 300px;
  width: auto;
  transform: rotate(10deg);
  box-shadow: $z-depth-5;
}

.auto-height {
  height: auto;
}



// ---------------------------
// ---------------------------
// ---------------------------
// --------- TO DO -----------
// ---------------------------
// ---------------------------

.content-box {
  background-color: $color-white;
  border: solid medium $color-neutral;
  box-shadow: 0 14px 28px rgba(183, 173, 153,0.30), 0 10px 10px rgba(183, 173, 153,0.22);
  margin: 15px;
  padding: 15px 25px 15px 25px;
}

.content-box .content-box-img {
  height: 150px;
  width: calc(100% + 50px);
  margin: -15px -25px 15px -25px;
  background: transparent no-repeat center;
  background-size: cover;
}

.done .icon, .done p {
  color: $color-neutral-light;
  font-style: italic;
  text-decoration: line-through;
}

.to-do-list p {
  margin-bottom: 0px;
}

#task-show-hide > span {
    display: none
}
#task-show-hide > span:first-child {
    display: inline-block;
}
#task-show-hide:hover > span {
    display: inline-block;
}






// ---------------------------
// ---------------------------
// ---------------------------
// ------ PEOPLE PAGES -------
// ---------------------------
// ---------------------------

.sortingTarget {
  display: inline-block;
  font-family: $font-sans;
  cursor: pointer;
}

.collection-checkboxes span {
  display: block;
}

.collection-checkboxes input {
  margin-right: 10px;
}











// ---------------------------
// ---------------------------
// ---------------------------
// ---- SMALL LIST BOXES -----
// ---------------------------
// ---------------------------

.small-boxes .blog-card {
  height: auto;
  margin: 5px 0 5px 0;
  width: 100%;
}

.small-boxes h3 {
  font-weight: 900;
}

.small-boxes h5 {
  margin: 0 0 5px 0;
  font-weight: 900;
}

.small-boxes h5.font-script {
  margin-bottom: 25px;
}

.small-boxes p {
  font-size: 14px;
}

.small-boxes .small-blog-frame {
  display: inline-block;
  height: 150px;
  width: 25%;
  background: transparent no-repeat center;
  background-size: cover;
  vertical-align: top;
}

.small-boxes .blog-text {
  width: 72%;
  display: inline-block;
}

.small-boxes .blog-info {
  margin: 0;
}

.small-boxes .content-box {
  width: 100%;
  height: 150px;
}

@media screen and (max-width: 768px) {
  .small-boxes .small-blog-frame {
    height: 125px;
  }

  .small-boxes h3 {
    margin-top: 25px;
  }
}


.capsule .col-sm-6 , .capsule .col-md-4, .capsule .col-lg-4, .capsule .col-lg-3 {
  padding: 0;
}









// ---------------------------
// ---------------------------
// ---------------------------
// ------ MOBILE STYLES ------
// ---------------------------
// ---------------------------

@media screen and (max-width: 768px) {
  .over-frame-text h1 { font-size: 40px }
  .script-header { font-size: 40px }
  .blog-text { width: 100% }
  .biobox img { max-width: 150px; margin-bottom: 15px;}
}








// ---------------------------
// ---------------------------
// ---------------------------
// ------ MDB CHANGES --------
// ---------------------------
// ---------------------------


.side-nav .logo-wrapper {
  height: 11rem;
}

.sidenav-divider {
  width: 100%;
  border-bottom: 1px solid rgba(153, 153, 153, 0.3);
}

.side-nav .social li {
  margin: 0 2px 0 2px;
}

.social .svg-inline--fa {
  font-size: 18px;
}

.social .svg-inline--fa:hover {
  color: $color-pink;
}

.social a:hover {
  background: transparent !important;
}

.side-nav .house.collapsible-body a.sub { background-color: $transparent-pink; }
.side-nav .spouse.collapsible-body a.sub { background-color: $transparent-pink; }
.side-nav .kids.collapsible-body a.sub { background-color: $transparent-pink; }
.side-nav .self.collapsible-body a.sub { background-color: $transparent-pink; }












// ---------------------------
// ---------------------------
// ---------------------------
// --- MDB OVERRIDES -----
// ---------------------------
// ---------------------------


.rgba-black-med, .rgba-black-med:after {
    background-color: rgba(0, 0, 0, 0.5);
}

.card .card-float-right {
  position: absolute;
  right: 0;
  padding: 5px;
  color: white;
  font-size: 20px;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}

#blog.house p a, #blog.house li a { color: $color-pink; }
#blog.spouse p a, #blog.spouse li a { color: $color-pink; }
#blog.kids p a, #blog.kids li a { color: $color-pink; }
#blog.self p a, #blog.self li a { color: $color-pink; }


.circle-cropper {
  width: 30px;
  height: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

.circle-cropper img {
  display: inline;
  margin: 0 auto;
  width: 100%;
  height: auto;
  vertical-align: middle;
}


.stepper-horizontal {
  padding: 0 !important;
  margin: 0 !important;
}

ul.stepper li.active a .circle,
.white-skin .primary-color, .white-skin ul.stepper li.active a .circle, ul.stepper li.active a .white-skin .circle, .white-skin ul.stepper li.completed a .circle, ul.stepper li.completed a .white-skin .circle {
  background-color: $color-pink;
}


ul.stepper li.inactive a .circle {
  background-color: $color-neutral
}













