/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 *= require trix
 *= require magnific-popup
 *= require jquery-ui
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome";
@import "trix";
@import 'bootstrap-datetimepicker';
@import "froala_editor.min";
@import "froala_style.min";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'plugins/char_counter.min.css';
@import 'plugins/code_view.min.css';
@import 'plugins/colors.min.css';
@import 'plugins/fullscreen.min.css';
@import 'plugins/image_manager.min.css';
@import 'plugins/image.min.css';
@import 'plugins/line_breaker.min.css';
@import 'plugins/quick_insert.min.css';
@import 'plugins/special_characters.min.css';
@import 'plugins/table.min.css';

@font-face {
  font-family: "PlaylistScript";
  src: url(/assets/fonts/PlaylistScript.otf) format("opentype");
}

@font-face {
  font-family: "PlaylistCaps";
  src: url(/assets/fonts/PlaylistCaps.otf) format("opentype");
}

$font-sans: 'Roboto', sans-serif;
$font-serif:  'EB Garamond', serif;
$font-script: 'PlaylistScript', 'Arizonia', cursive;
$font-script-caps: 'PlaylistCaps', sans-serif;

.font-sans { font-family: $font-sans }
.font-serif { font-family: $font-serif }
.font-script { font-family: $font-script }
.font-bold { font-weight: 700 }

$color-house: #84C99A;
$color-spouse: #526887;
$color-kids: #EFB0A1;
$color-self: #916999;
$color-neutral: #B7AD99;
$color-neutral-light: #e2ded7; // rgba(226,222,215,1);
$color-black: #000000;

$transparent-house: rgba(132, 201, 154, 0.5);
$transparent-spouse: rgba(49, 62, 80, 0.5);
$transparent-kids: rgba(239, 176, 161, 0.5);
$transparent-self: rgba(145, 105, 153, 0.4);
$transparent-neutral: rgba(183, 173, 153, 0.4);

.color-white, .color-white * { color: #FFFFFF; }
.color-house { color: $color-house; }
.color-spouse { color: $color-spouse; }
.color-kids { color: $color-kids; }
.color-self { color: $color-self; }
.color-neutral { color: $color-neutral; }
.color-neutral-light { color: $color-neutral-light; }
.color-neutral-hover:hover { color: $color-black; }
.color-black { color: $color-black; }

.border-house { border: solid $color-house; }
.border-spouse { border: solid $color-spouse; }
.border-kids { border: solid $color-kids; }
.border-self { border: solid $color-self; }
.border-neutral { border: solid $color-neutral; }

.bg-house { background-color: $transparent-house; }
.bg-spouse { background-color: $transparent-spouse; }
.bg-kids { background-color: $transparent-kids; }
.bg-self { background-color: $transparent-self; }
.bg-neutral { background-color: $transparent-neutral; }
.bg-neutral-dark { background-color: $color-neutral; }

.transparent-hover.house:hover { background-color: $transparent-house; }
.transparent-hover.spouse:hover { background-color: $transparent-spouse; }
.transparent-hover.kids:hover { background-color: $transparent-kids; }
.transparent-hover.self:hover { background-color: $transparent-self; }
.transparent-hover.neutral:hover { background-color: $transparent-neutral; }

* { font-family: $font-sans; color: $color-black; }
p, p a, p strong, p em, li { font-family: $font-serif !important; font-size: 17px}
a { color: $color-neutral; }
a:hover { color: $color-neutral; font-weight: 700; text-decoration: none; }
a.no-hover:hover { font-weight: 400; }

a.color-house:hover { color: $color-house; }
a.color-spouse:hover { color: $color-spouse; }
a.color-kids:hover { color: $color-kids; }
a.color-self:hover { color: $color-self; }

.full-width {
  width: 100%;
}

#tag_cloud {
  width: 500px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}

hr { width: 50%; border-color: $color-neutral; }

p.large-p, .large-p p {
  font-size: 20px;
}

.buffer { height: 50px; }
.half-buffer { height: 25px; }

.btn { background: transparent; }

.datepicker {z-index:1151 !important;}

.weight-400 { font-weight: 400 !important; }

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(183, 173, 153, 0.8);
  box-shadow: 0 1px 1px rgba(183, 173, 153, 1) inset, 0 0 8px rgba(183, 173, 153, 0.6);
  outline: 0 none;
}

label {
  text-transform: capitalize !important;
}

.alert {
  background-color: $transparent-neutral;
  border-color: $color-neutral;
  color: $color-neutral;
  border-radius: 0px;
}

td { padding: 5px 10px 5px 0px; vertical-align: top }
td p { margin-bottom: 0 }




.card {
  box-shadow: 0 14px 28px rgba(183, 173, 153,0.30), 0 10px 10px rgba(183, 173, 153,0.22);
  border: 5px solid $transparent-neutral;
}

.card.padded {
  padding: 40px 25px 40px 25px;
  margin-bottom: 20px;
}

.card.hover:hover {
  border: 5px solid $color-neutral;
}

.script-header {
  font-size: 50px;
  font-family: $font-script;
  margin: 50px 0 10px 0;
  color: $color-neutral;
}

// magnificPopup
.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

table.lined-table td {
  padding: 5px 10px 5px 10px;
  border: solid thin $color-neutral;
}






// ---------------------------
// ---------------------------
// ---------------------------
// ------ IMAGES ---------
// ---------------------------
// ---------------------------

.frame {
  background: transparent no-repeat center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

.image-overlay { position: relative; width: 100%; height: 100% }
.image-overlay-house { background-color: $transparent-house; width: 100%; height: 100%; }
.image-overlay-spouse { background-color: $transparent-spouse; width: 100%; height: 100%; }
.image-overlay-kids { background-color: $transparent-kids; width: 100%; height: 100%; }
.image-overlay-self { background-color: $transparent-self; width: 100%; height: 100%; }
.image-overlay-neutral { background-color: $transparent-neutral; width: 100%; height: 100%; }


.over-frame-text {
  position: relative;
  margin-top: -400px;
  height: 400px;
  z-index: 100;
}

.over-frame-text h1 {
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  color: white;
}

.over-frame-bottom-row {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.over-frame-bottom-row h3 {
  color: white;
}

.header-frame {
  height: 450px;
}
// XS DEVICES
@media screen and (max-width: 768px) {
  .inner-frame {
    border-color: transparent !important;
  }
}

// SMALL DEVICES
@media screen and (min-width: 768px) {
  .header-frame {
    width: 750px;
    margin: 20px 0 0px -20px;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
  }

  .inner-frame {
    position: absolute;
    display: block;
    height: 490px;
    margin-top: -20px;
    width: 710px;
    margin-left: 20px;
    overflow: visible;
    z-index: 20;
  }

  .over-frame-text {
    margin-bottom: 40px; // White padding below image
  }
}

// MEDIUM DEVICES
@media screen and (min-width: 992px) {
  .header-frame { width: 970px; }
  .inner-frame { width: 930px; }
  .over-frame-text { margin-bottom: 60px; }
}

// LARGE DEVICES
@media screen and (min-width: 1200px) {
  .header-frame { width: 1170px; }
  .inner-frame { width: 1130px; }
  .over-frame-text { margin-bottom: 80px; }
}

@media screen and (min-width: 1500px) {
  .header-frame { height: 550px; }
  .inner-frame { height: 590px; }

  .over-frame-text {
    height: 500px;
    margin-top: -500px;
  }
}










// ---------------------------
// ---------------------------
// ---------------------------
// ------ INDEX PAGE ---------
// ---------------------------
// ---------------------------

.convert-kit .seva-form {
  width: 100% !important;
}


.convert-kit .seva-form .formkit-field {
  width: 200px !important;
  display: inline-block !important;
}

.rounded-image {
  height: 160px;
  border: solid thin $color-neutral;
  margin-bottom: 15px;
  box-shadow: 0 14px 28px rgba(183, 173, 153,0.30), 0 10px 10px rgba(183, 173, 153,0.22);
}

.about-me p {
  text-align: justify;
}

.category-div {
  position: relative;
  padding-bottom: 10px;
}

.category-callouts .category-div {
  margin: 15px 0 15px 0;
  border-width: thin;
}

.category-callouts .category-frame {
  width: 100%;
  height: 150px;
}

.category-callouts h3 {
  font-family: $font-script;
  font-size: 40px;
}

.category-callouts p {
  font-weight: 400 !important;
}

.category-callouts .text {
  padding: 15px;
  position: relative;
}

.category-div h5 {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}






// ---------------------------
// ---------------------------
// ---------------------------
// -------- NAVBAR -----------
// ---------------------------
// ---------------------------

.navbar.bg-neutral {
  // position: fixed;
  position: relative;
  width: 100%;
  justify-content: left;
}

.navbar.bg-neutral p {
  margin-top: 15px;
}

.account-buttons {
  position: absolute;
  right: 0;
}

.navbar.bg-neutral .btn-outline-primary {
  background-color: $color-neutral-light !important;
}

.navbar.bg-neutral .btn-outline-primary:hover {
  background-color: $color-neutral !important;
}


.header-logo {
  margin: 25px 0 5px 0;
  height: 40px;
}

.header-tagline {
  margin-bottom: 0px;
  font-size: 18px;
}

.header-tagline:hover {
  text-decoration: none !important;
}

.nav-button a {
  font-family: $font-script;
  display: inline-block;
  font-size: 35px;
  padding-top: 5px;
  margin: 5px 10px 20px 10px;
}

.nav-button a:hover {
  font-weight: 700;
}

.nav-button a.color-house:hover { color: $color-house; border-color: $color-house; }
.nav-button a.color-spouse:hover { color: $color-spouse; border-color: $color-spouse; }
.nav-button a.color-kids:hover { color: $color-kids; border-color: $color-kids; }
.nav-button a.color-self:hover { color: $color-self; border-color: $color-self; }

@media screen and (max-width: 800px) {
  .nav-button a {
    margin: 10px 0px 30px 0px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 25px;
  }

  .nav-button {
    padding-left: 3px;
    padding-right: 3px;
  }
}

.nav-button:hover a {
  border-top: solid thin;
  border-bottom: solid thin;
  font-weight: 400;
}

.navbar {
  height: 45px;
}

.navbar .btn-outline-primary {
  height: 30px;
  font-size: 14px;
  padding: 4px 10px 4px 10px;
}

.btn-outline-primary {
  color: $color-neutral;
  border-color: $color-neutral;
  background-color: transparent !important;
}

.btn-outline-primary:hover {
  background-color: $color-neutral !important;
  border-color: $color-neutral;
  font-weight: 400;
}

.button-outline-primary, .button-outline-primary:focus, .button-outline-primary:active {
  background-color: transparent !important;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.social-icon {
  margin: 0px 10px 0 10px;
  font-size: 25px;
}

.btn-outline-secondary {
  color: white !important;
  border: solid medium white;
  background-color: transparent !important;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
}

.btn-outline-secondary:hover {
  color: $color-neutral !important;
  border-color: $color-neutral;
  background-color: white !important;
}








// ---------------------------
// ---------------------------
// ---------------------------
// -------- FOOTER -----------
// ---------------------------
// ---------------------------

.non-footer {
  min-height: calc(100vh - 300px);
}

footer {
  background-color: $color-neutral;
  min-height: 200px;
  padding: 20px 0 10px 0;
  color: $color-black;
}

.pre-footer {
  padding: 20px;
  margin-top: 50px;
}









// ---------------------------
// ---------------------------
// ---------------------------
// -------- BIOBOX -----------
// ---------------------------
// ---------------------------

.biobox {
  border: solid thin $color-neutral;
  background-color: $transparent-neutral;
  border-radius: 15px;
  padding: 25px 15px 25px 15px;
}

.biobox-image {
  display: inline-block;
}

.biobox img {
  width: 100%;
  max-width: 300px;
  border-radius: 15px;
  box-shadow: 0 14px 28px rgba(183, 173, 153,0.30), 0 10px 10px rgba(183, 173, 153,0.22);
}

.biobox-image {
  display: inline-block;
}

.biobox h3 {
  text-align: center;
  color: $color-neutral;
  font-family: $font-script;
  margin-top: 15px;
}

.biobox h4 {
  color: $color-neutral;
  font-weight: 700;
}

.biobox p {
  color: $color-neutral;
  text-align: justify;
}







// ---------------------------
// ---------------------------
// ---------------------------
// --------- BLOGS -----------
// ---------------------------
// ---------------------------

.blog-show img {
  max-width: 100%;
  max-height: 500px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.flag {
  position: absolute;
  margin-top: 15px;
  padding: 3px 10px 3px 5px;
  color: white;
  font-weight: 700;
}

.house .flag { background-color: $color-house; }
.spouse .flag { background-color: $color-spouse; }
.kids .flag { background-color: $color-kids; }
.self .flag { background-color: $color-self; }
.neutral .flag { background-color: $color-neutral; }

.blog-card {
  position: relative;
  box-sizing: border-box;
  margin: 15px 0 15px 0;
  height: 275px;
}

.blog-frame {
  display: inline-block;
  height: 275px;
  width: 25%;
  background: transparent no-repeat center;
  background-size: cover;
  vertical-align: top;
}

.blog-itself p, .blog-itself div, .blog-itself em {
  font-family: font-serif;
}

.blog-itself div img {
  max-width: 100%;
}

.blog-text {
  width: 74%;
  display: inline-block;
  vertical-align: top;
  padding: 10px 20px 0 20px;
}

.blog-text p {
  font-weight: 400 !important;
}

.blog-card .published-on {
  position: absolute;
  bottom: 0;
}

.blog-card:hover p {
  font-weight: 400 !important;
}

.blog-card .house { border: thin solid $color-house; }
.blog-card .spouse { border: thin solid $color-spouse; }
.blog-card .kids { border: thin solid $color-kids; }
.blog-card .self { border: thin solid $color-self; }
.blog-card .other { border: thin solid $color-neutral; }

.blog-card .house h2 { color: $color-house; }
.blog-card .spouse h2 { color: $color-spouse; }
.blog-card .kids h2 { color: $color-kids; }
.blog-card .self h2 { color: $color-self; }
.blog-card .other h2 { color: $color-neutral; }

@media screen and (max-width: 768px) {
  .blog-card {
    position: relative;
    box-sizing: border-box;
    margin: 15px 0 15px 0;
    height: auto;
  }

  .blog-frame {
    display: block;
    width: 100%;
    height: 250px;
    background: transparent no-repeat center;
    background-size: cover;
    vertical-align: top;
  }

  .blog-text {
    margin-bottom: 50px;
  }

  .blog-card:hover .blog-frame {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .blog-card {
    position: relative;
    box-sizing: border-box;
    margin: 15px;
    height: auto;
    display: inline-block !important;
  }

  .blog-frame {
    display: block;
    width: 100%;
    height: 250px;
    background: transparent no-repeat center;
    background-size: cover;
    vertical-align: top;
  }

  .blog-text {
    margin-bottom: 50px;
    width: 100%;
  }

  .blog-card:hover .blog-frame {
    width: 100%;
  }
}









// ---------------------------
// ---------------------------
// ---------------------------
// --------- TO DO -----------
// ---------------------------
// ---------------------------

.content-box {
  border: solid thin $color-neutral;
  box-shadow: 0 14px 28px rgba(183, 173, 153,0.30), 0 10px 10px rgba(183, 173, 153,0.22);
  margin: 15px;
  padding: 15px 25px 15px 25px;
}

.content-box .content-box-img {
  height: 150px;
  width: calc(100% + 50px);
  margin: -15px -25px 15px -25px;
  background: transparent no-repeat center;
  background-size: cover;
}

.done .icon, .done p {
  color: $color-neutral-light;
  font-style: italic;
  text-decoration: line-through;
}

.to-do-list p {
  margin-bottom: 0px;
}

#task-show-hide > span {
    display: none
}
#task-show-hide > span:first-child {
    display: inline-block;
}
#task-show-hide:hover > span {
    display: inline-block;
}






// ---------------------------
// ---------------------------
// ---------------------------
// ------ PEOPLE PAGES _------
// ---------------------------
// ---------------------------

.sortingTarget {
  display: inline-block;
  font-family: $font-serif;
  cursor: pointer;
}

.collection-checkboxes span {
  display: block;
}

.collection-checkboxes input {
  margin-right: 10px;
}





// ---------------------------
// ---------------------------
// ---------------------------
// ------ MOBILE STYLES ------
// ---------------------------
// ---------------------------

@media screen and (max-width: 768px) {
  .over-frame-text h1 { font-size: 40px }
  .script-header { font-size: 40px }
  .blog-text { width: 100% }
  .biobox img { max-width: 150px; margin-bottom: 15px;}
}
