/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 *= require trix
 *= require magnific-popup
 *= require jquery-ui
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';
@import 'font-awesome';
@import 'font_awesome5_webfont';
@import 'font_awesome5.css';
@import 'trix';
@import 'bootstrap-datetimepicker';
@import 'froala_editor.min';
@import 'froala_style.min';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'plugins/char_counter.min.css';
@import 'plugins/code_view.min.css';
@import 'plugins/colors.min.css';
@import 'plugins/fullscreen.min.css';
@import 'plugins/image_manager.min.css';
@import 'plugins/image.min.css';
@import 'plugins/line_breaker.min.css';
@import 'plugins/quick_insert.min.css';
@import 'plugins/special_characters.min.css';
@import 'plugins/table.min.css';
@import 'third_party/embedly.min.css';
@import 'third_party/spell_checker.min.css';

@font-face {
  font-family: "PlaylistScript";
  src: asset-url("PlaylistScript.otf") format("opentype");
}

@font-face {
  font-family: "PlaylistCaps";
  src: asset-url("PlaylistCaps.otf") format("opentype");
}

$font-sans: 'Roboto', sans-sans;
$font-serif:  'EB Garamond', serif;
$font-script: 'PlaylistScript', 'Arizonia', cursive;
$font-script-caps: 'PlaylistCaps', sans-serif;

.font-sans { font-family: $font-sans }
.font-serif { font-family: $font-serif }
.font-script { font-family: $font-script }
.font-bold { font-weight: 700 }

h1.font-script { font-size: 70px }
h2.font-script { font-size: 50px }

$color-house: #fe5454 !important; // #84C99A;
$color-spouse: #fd1270 !important; // #526887;
$color-kids: #c002a7 !important; // #EFB0A1;
$color-self: #6c0c9d !important; // #916999;
$color-neutral: #5f585b !important; // #B7AD99;
$color-neutral-light: #c0c0c0 !important;
$color-black: #000000 !important;

$transparent-house: rgba(254, 84, 84, 0.3);
$transparent-spouse: rgba(253, 18, 112, 0.3);
$transparent-kids: rgba(192, 2, 167, 0.3);
$transparent-self: rgba(108, 12, 157, 0.3);
$transparent-neutral: rgba(96, 96, 96, 0.3);
$transparent-white: rgba(255, 255, 255, 0.3);
$transparent-whiteish: rgba(210, 210, 210, 0.4);

.color-white, .color-white * { color: #FFFFFF; }
.color-house { color: $color-house; }
.color-spouse { color: $color-spouse; }
.color-kids { color: $color-kids; }
.color-self { color: $color-self; }
.color-neutral { color: $color-neutral; }
.color-neutral-light { color: $color-neutral-light; }
.color-neutral-hover:hover { color: $color-black; }
.color-black { color: $color-black; }

.border-house { border: solid $color-house; }
.border-spouse { border: solid $color-spouse; }
.border-kids { border: solid $color-kids; }
.border-self { border: solid $color-self; }
.border-neutral { border: solid $color-neutral; }

.bg-house { background-color: $transparent-house; }
.bg-spouse { background-color: $transparent-spouse; }
.bg-kids { background-color: $transparent-kids; }
.bg-self { background-color: $transparent-self; }
.bg-neutral { background-color: $transparent-neutral; }
.bg-neutral-dark { background-color: $color-neutral; }

.transparent-hover.house:hover { background-color: $transparent-house; }
.transparent-hover.spouse:hover { background-color: $transparent-spouse; }
.transparent-hover.kids:hover { background-color: $transparent-kids; }
.transparent-hover.self:hover { background-color: $transparent-self; }
.transparent-hover.neutral:hover { background-color: $transparent-neutral; }

* { font-family: $font-sans; }
a { color: $color-neutral; }
p a, h3 a, h4 a { color: $color-spouse; }
a:hover { color: $color-neutral; font-weight: 700; text-decoration: none; }
a.no-hover:hover { font-weight: 400; }

a.color-house:hover { color: $color-house; }
a.color-spouse:hover { color: $color-spouse; }
a.color-kids:hover { color: $color-kids; }
a.color-self:hover { color: $color-self; }


.padded { padding: 15px; }
.full-width { width: 100%; }

#tag_cloud {
  width: 500px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}

.linkish {
  cursor: pointer;
  color: $color-spouse;
}

hr { width: 50%; border-color: $color-neutral; }

p, p em, p li, li p { font-weight: 300 }
p a { font-weight: 700 }

p.large-p, .large-p p {
  font-size: 20px;
}

.buffer { height: 50px; }
.half-buffer { height: 25px; }

.btn { background: transparent; }

.datepicker {z-index:1151 !important;}

.weight-400 { font-weight: 400 !important; }
.boldest { font-weight: 900 }

.font-sans p, .font-sans p a { font-family: $font-sans !important; }

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(253, 18, 112, 0.8);
  box-shadow: 0 1px 1px rgba(253, 18, 112, 1) inset, 0 0 8px rgba(253, 18, 112, 0.6);
  outline: 0 none;
}

label {
  text-transform: capitalize !important;
}

.alert {
  background-color: $transparent-neutral;
  border-color: $color-neutral;
  color: $color-neutral;
  border-radius: 0px;
}

td { padding: 5px 10px 5px 0px; vertical-align: top }
td p { margin-bottom: 0 }




.card {
  box-shadow: 0 14px 28px rgba(183, 173, 153,0.30), 0 10px 10px rgba(183, 173, 153,0.22);
  border: 5px solid $transparent-neutral;
}

.card.padded {
  padding: 40px 25px 40px 25px;
  margin-bottom: 20px;
}

.card.hover:hover {
  border: 5px solid $color-neutral;
}

.script-header {
  font-size: 50px;
  font-family: $font-script;
  margin: 50px 0 10px 0;
  color: $color-neutral;
}

// magnificPopup
.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

table.lined-table td {
  padding: 5px 10px 5px 10px;
  border-top: solid thin $color-neutral;
  border-bottom: solid thin $color-neutral;
}



















// ---------------------------
// ---------------------------
// ---------------------------
// ---------- IMAGES ---------
// ---------------------------
// ---------------------------

.frame {
  background: transparent no-repeat center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

.image-overlay { position: relative; width: 100%; height: 100% }
.blog-card:hover .image-overlay-house { background-color: $transparent-house; width: 100%; height: 100%; }
.blog-card:hover .image-overlay-spouse { background-color: $transparent-spouse; width: 100%; height: 100%; }
.blog-card:hover .image-overlay-kids { background-color: $transparent-kids; width: 100%; height: 100%; }
.blog-card:hover .image-overlay-self { background-color: $transparent-self; width: 100%; height: 100%; }
.blog-card:hover .image-overlay-neutral { background-color: $transparent-neutral; width: 100%; height: 100%; }
.blog-card:hover .image-overlay-white { background-color: $transparent-whiteish; width: 100%; height: 100%; }

.image-overlay-white { background-color: $transparent-whiteish; width: 100%; height: 100%; }

.over-frame-text {
  position: relative;
  margin-top: -400px;
  height: 400px;
  z-index: 100;
}

.over-frame-text .container {
  padding: 5px;
}

.over-frame-text h1 {
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  color: $color-black;
  padding-left: 30px;
  padding-right: 30px;
}

.over-frame-text h4 {
  padding-right: 30px;
}

.over-frame-text h3 {
  font-weight: 700 !important;
}

.over-frame-bottom-row {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.over-frame-bottom-row h3 {
  color: $color-black;
}

.header-frame {
  height: 450px;
}

// XS DEVICES
@media screen and (max-width: 768px) {
  .inner-frame {
    border-color: transparent !important;
  }
}

// SMALL DEVICES
@media screen and (min-width: 768px) {
  .header-frame {
    width: 750px;
    margin: 20px 0 0px -20px;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
  }

  .inner-frame {
    position: absolute;
    display: block;
    height: 490px;
    margin-top: -20px;
    width: 710px;
    margin-left: 20px;
    overflow: visible;
    z-index: 20;
  }

  .over-frame-text {
    margin-bottom: 40px; // White padding below image
  }
}

// MEDIUM DEVICES
@media screen and (min-width: 992px) {
  .header-frame { width: 970px; }
  .inner-frame { width: 930px; }
  .over-frame-text { margin-bottom: 60px; }
}

// LARGE DEVICES
@media screen and (min-width: 1200px) {
  .header-frame { width: 1170px; }
  .inner-frame { width: 1130px; }
  .over-frame-text { margin-bottom: 80px; }
}

@media screen and (min-width: 1500px) {
  .header-frame { height: 550px; }
  .inner-frame { height: 590px; }

  .over-frame-text {
    height: 500px;
    margin-top: -500px;
  }
}


















// ---------------------------
// ---------------------------
// ---------------------------
// ------ INDEX PAGE ---------
// ---------------------------
// ---------------------------

.seva-form.formkit-form {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.convert-kit .seva-form {
  width: 100% !important;
}


.convert-kit .seva-form .formkit-field {
  width: 200px !important;
  display: inline-block !important;
}

.rounded-image {
  height: 160px;
  border: solid 1px $color-neutral;
  margin-bottom: 15px;
  box-shadow: 0 14px 28px rgba(183, 173, 153,0.30), 0 10px 10px rgba(183, 173, 153,0.22);
}

.about-me p {
  text-align: justify;
  font-size: 15px !important;
  font-family: $font-sans !important;
}

.about-me h5 {
  font-weight: 700;
}

.category-div {
  position: relative;
  padding-bottom: 10px;
}

.category-callouts .category-div {
  margin: 15px 0 15px 0;
  border-width: 1px;
}

.category-callouts .category-frame {
  width: 100%;
  height: 150px;
}

.category-callouts h3 {
  font-family: $font-script;
  font-size: 40px;
}

.category-callouts p {
  font-weight: 400 !important;
  font-size: 15px !important;
  font-family: $font-sans !important;
}

.category-callouts .text {
  padding: 15px;
  position: relative;
}

.category-div h5 {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  font-weight: 700;
}






// ---------------------------
// ---------------------------
// ---------------------------
// -------- SEARCH -----------
// ---------------------------
// ---------------------------

.search-bar input {
  margin: 0px 10px 0 0;
  font-size: 0.8em;
  padding: 5px;
  border-radius: 5px;
  width: 225px;
}








// ---------------------------
// ---------------------------
// ---------------------------
// -------- NAVBAR -----------
// ---------------------------
// ---------------------------

.header-icon {
  margin: 0 5px 0 5px;
  height: 40px;
}

#house-icon i, #house-icon svg {
  color: $color-house !important;
}

.navbar .navbar-nav .btn.btn-outline-primary {
  color: $color-neutral !important;
  border-color: $color-neutral !important;
  background-color: transparent !important;
}

.navbar-brand img {
  height: 40px;
}

.nav-link.font-script {
  font-size: 25px;
  padding: 0 10px 0 10px;
  text-align: center;
}

.OGnavbar.bg-neutral {
  position: relative;
  width: 100%;
  justify-content: left;
}

.OGnavbar.bg-neutral p {
  margin-top: 14px;
}

.OGnavbar.bg-neutral p a {
  font-family: $font-sans !important;
  color: $color-neutral;
  font-weight: 800;
  font-size: 14px;
}

.OGnavbar.bg-neutral p a:hover {
  color: black;
}


.account-buttons {
  position: absolute;
  right: 0;
}

.OGnavbar.bg-neutral .btn-outline-primary {
  background-color: transparent !important;
}

.OGnavbar.bg-neutral .btn-outline-primary:hover {
  background-color: $color-neutral !important;
}

.header-logo {
  margin: 0px 0 5px 0;
  height: 40px;
  max-width: 100%;
}

.header-tagline {
  margin-bottom: 0px;
  font-size: 16px;
  font-family: $font-sans !important;
  line-height: 1.1;
  font-weight: 300;
}

.header-tagline:hover {
  text-decoration: none !important;
}

.OGnav-button {
  display: inline-block;
}

.OGnav-button a {
  font-family: $font-script;
  display: inline-block;
  font-size: 35px;
  padding-top: 5px;
  margin: 5px 10px 20px 10px;
}

.OGnav-button a:hover {
  font-weight: 700;
}

.OGnav-button a.color-house:hover { color: $color-house; border-color: $color-house; }
.OGnav-button a.color-spouse:hover { color: $color-spouse; border-color: $color-spouse; }
.OGnav-button a.color-kids:hover { color: $color-kids; border-color: $color-kids; }
.OGnav-button a.color-self:hover { color: $color-self; border-color: $color-self; }

.small-tools {
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .OGnav-button a {
    margin: 10px 0px 30px 0px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 25px;
  }

  .OGnav-button {
    padding-left: 3px;
    padding-right: 3px;
  }

  .search-bar {
    text-align: center !important;
    margin: 10px 0 10px 0;
  }
}

.OGnav-button:hover a {
  border-top: solid thin;
  border-bottom: solid thin;
  font-weight: 400;
}

.OGnavbar {
  height: 45px;
}

.OGnavbar .btn-outline-primary {
  height: 30px;
  font-size: 14px;
  padding: 4px 10px 4px 10px;
}

.btn-outline-primary {
  color: $color-neutral !important;
  border-color: $color-neutral !important;
  background-color: transparent !important;
}

.btn-outline-primary:hover {
  background-color: $color-neutral !important;
  border-color: $color-neutral;
  font-weight: 400;
}

.button-outline-primary, .button-outline-primary:focus, .button-outline-primary:active {
  background-color: transparent !important;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.social-icon {
  margin: 0px 10px 0 10px;
  font-size: 25px !important;
}

.btn-outline-house {
  color: $color-house !important;
  border: solid medium $color-house;
  background-color: $transparent-white !important;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
}

.my-btn-outline-house:hover {
  color: $color-house !important;
  border-color: white;
  background-color: $transparent-neutral !important;
}

.my-btn-outline-secondary {
  color: $color-black !important;
  border: solid medium $color-black;
  background-color: $transparent-white !important;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
}

.my-btn-outline-secondary:hover {
  color: black !important;
  border-color: white;
  background-color: $transparent-neutral !important;
}

.btn-outline-tertiary {
  color: white !important;
  border: solid medium white;
  background-color: $transparent-neutral !important;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
}

.btn-outline-tertiary:hover {
  color: $color-spouse !important;
  border-color: $color-spouse;
  background-color: white !important;
}






// ---------------------------
// ---------------------------
// ---------------------------
// -------- FOOTER -----------
// ---------------------------
// ---------------------------

.non-footer {
  min-height: calc(100vh - 300px);
}

footer {
  background-color: white;
  padding: 20px 0 10px 0;
  margin-top: 50px;
  line-height: 1.2;
  font-size: 14px;
}

footer p, footer p em {
  font-weight: 300;
  color: black !important;
  font-family: $font-sans !important;
}

.post-footer {
  padding: 20px;
}

.post-footer p a, .post-footer p {
  font-family: $font-sans !important;
}

.post-footer .side-links p {
  margin-bottom: 5px;
  text-align: right;
}

.post-footer .side-links a:hover {
  color: $color-spouse;
}

.copyright {
  margin-bottom: 0 !important;
  margin-top: 5px;
  padding: 10px;
}

.post-footer .social-icon {
  color: $color-spouse;
}

.post-footer .social-icon:hover {
  color: black !important;
}

@media screen and (max-width: 768px) {
  .post-footer .side-links {
    margin-top: 10px;
  }

  .post-footer .side-links p {
    text-align: center !important;
  }
}









// ---------------------------
// ---------------------------
// ---------------------------
// -------- BIOBOX -----------
// --------USER PAGE----------
// ---------------------------

.biobox {
  padding: 25px 0px 25px 0px;
}

.border-row .block {
  box-sizing: content-box;
  width: calc(25% + 1px);
  height: 5px;
  display: inline-block;
  margin: 0px;
  margin-left: -4px;
  padding: 0px;
  border: none
}

.solid-house { background-color: $color-house; }
.solid-spouse { background-color: $color-spouse; }
.solid-kids { background-color: $color-kids; }
.solid-self { background-color: $color-self; }

.biobox-image {
  display: inline-block;
}

.biobox img {
  width: 100%;
  max-width: 300px;
}

.biobox-image {
  display: inline-block;
}

.biobox h3 {
  text-align: center;
  color: $color-spouse;
  font-family: $font-script;
  margin-top: 15px;
}

.biobox h4 {
  color: $color-self;
  font-weight: 700;
}

.biobox p {
  color: $color-neutral;
  text-align: justify;
  font-family: $font-sans !important;
  font-size: 15px !important;
}

.tool-box h5 {
  margin-top: 10px;
}

.user-edit h2 {
  font-family: $font-script;
  font-size: 50px;
  margin-bottom: 20px;
  color: $color-spouse;
  text-align: center;
}





// ---------------------------
// ---------------------------
// ---------------------------
// --------- BLOGS -----------
// ---------------------------
// ---------------------------

.blog-show-header.House h1, .blog-show.House em h1 { color: $color-house !important; font-weight: 900 !important; }
.blog-show-header.Spouse h1, .blog-show.Spouse em h1 { color: $color-spouse !important; font-weight: 900 !important; }
.blog-show-header.Kids h1, .blog-show.Kids em h1 { color: $color-kids !important; font-weight: 900 !important; }
.blog-show-header.Self h1, .blog-show.Self em h1 { color: $color-self !important; font-weight: 900 !important; }
.blog-show-header.Neutral h1, .blog-show.Neutral em h1 { color: $color-neutral !important; font-weight: 900 !important; }

.blog-show.house .blog-itself h2, .blog-show.house .blog-itself em h2 { color: $color-house !important; font-weight: 900 !important; font-size: 2.5rem }
.blog-show.spouse .blog-itself h2, .blog-show.spouse .blog-itself em h2 { color: $color-spouse !important; font-weight: 900 !important; font-size: 2.5rem }
.blog-show.kids .blog-itself h2, .blog-show.kids .blog-itself em h2 { color: $color-kids !important; font-weight: 900 !important; font-size: 2.5rem }
.blog-show.self .blog-itself h2, .blog-show.self .blog-itself em h2 { color: $color-self !important; font-weight: 900 !important; font-size: 2.5rem }
.blog-show.neutral .blog-itself h2, .blog-show.neutral .blog-itself em h2 { color: $color-neutral !important; font-weight: 900 !important; font-size: 2.5rem }

.blog-show.house .blog-itself h3, .blog-show.house .blog-itself em h3 { color: $color-house !important; font-weight: 900 !important; }
.blog-show.spouse .blog-itself h3, .blog-show.spouse .blog-itself em h3 { color: $color-spouse !important; font-weight: 900 !important; }
.blog-show.kids .blog-itself h3, .blog-show.kids .blog-itself em h3 { color: $color-kids !important; font-weight: 900 !important; }
.blog-show.self .blog-itself h3, .blog-show.self .blog-itself em h3 { color: $color-self !important; font-weight: 900 !important; }
.blog-show.neutral .blog-itself h3, .blog-show.neutral .blog-itself em h3 { color: $color-neutral !important; font-weight: 900 !important; }

.blog-show.house .blog-itself h3 a { color: $color-spouse !important; font-weight: 900 !important; text-decoration: underline; }
.blog-show.spouse .blog-itself h3 a { color: $color-self !important; font-weight: 900 !important; text-decoration: underline; }
.blog-show.kids .blog-itself h3 a { color: $color-spouse !important; font-weight: 900 !important; text-decoration: underline; }
.blog-show.self .blog-itself h3 a { color: $color-spouse !important; font-weight: 900 !important; text-decoration: underline; }
.blog-show.neutral .blog-itself h3 a { color: $color-spouse !important; font-weight: 900 !important; text-decoration: underline; }

.blog-show .blog-itself h4, .blog-show .blog-itself em h4 { color: $color-neutral !important; font-weight: 900 !important; }
.blog-show.neutral .blog-itself h4, .blog-show.neutral .blog-itself em h4 { color: $color-spouse !important; font-weight: 900 !important; }




.blog-show img {
  max-width: 100%;
  max-height: 500px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.flag {
  position: absolute;
  margin-top: 15px;
  padding: 3px 10px 3px 5px;
  color: white;
  font-weight: 700;
}

.house .flag { background-color: $color-house; }
.spouse .flag { background-color: $color-spouse; }
.kids .flag { background-color: $color-kids; }
.self .flag { background-color: $color-self; }
.neutral .flag { background-color: $color-neutral; }

.comment {

}

.comment-byline, .comment-byline span {
  color: $color-spouse;
  font-style: italic;
  font-weight: 700;
}

.blog-card {
  position: relative;
  box-sizing: border-box;
  margin: 10px 0 25px 0 !important;
  height: 275px;
  width: 100%;
}

.blog-frame {
  display: inline-block;
  height: 275px;
  width: 25%;
  background: transparent no-repeat center;
  background-size: cover;
  vertical-align: top;
}

.blog-itself p, .blog-itself div, .blog-itself em {
  font-family: $font-sans;
}

.blog-itself div img {
  max-width: 100%;
}

.blog-text {
  width: 74%;
  display: inline-block;
  vertical-align: top;
  padding: 10px 20px 0 20px;
}

.blog-text h2 {
  font-weight: bold;
}

.blog-text p, .blog-text p a {
  font-weight: 400 !important;
  font-family: $font-sans !important;
  font-size: 15px;
}

.blog-text p strong {
  font-family: $font-sans !important;
  font-size: 15px;
}

.blog-info {
  margin: 20px 0 20px 0;
}

.blog-card:hover p {
  font-weight: 400 !important;
}

.blog-card .house { border: 1px solid $color-house; box-shadow: 0 10px 20px rgba(254, 84, 84,0.19), 0 6px 6px rgba(254, 84, 84,0.23); }
.blog-card .spouse { border: 1px solid $color-spouse; box-shadow: 0 10px 20px rgba(253, 18, 112,0.19), 0 6px 6px rgba(253, 18, 112,0.23); }
.blog-card .kids { border: 1px solid $color-kids; box-shadow: 0 10px 20px rgba(192, 2, 167,0.19), 0 6px 6px rgba(192, 2, 167,0.23); }
.blog-card .self { border: 1px solid $color-self; box-shadow: 0 10px 20px rgba(108, 12, 157,0.19), 0 6px 6px rgba(108, 12, 157,0.23); }
.blog-card .other { border: 1px solid $color-neutral; box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); }

.blog-card .house h2 { color: $color-house; }
.blog-card .spouse h2 { color: $color-spouse; }
.blog-card .kids h2 { color: $color-kids; }
.blog-card .self h2 { color: $color-self; }
.blog-card .other h2 { color: $color-neutral; }

.pagination {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pagination em, .pagination a {
  margin-right: 8px;
}

.pin-image-stripe img {
  width: 20%;
  max-width: 200px;
  min-width: 75px;
  padding: 0 10px 0 10px;
}

@media screen and (max-width: 768px) {
  .blog-card {
    position: relative;
    box-sizing: border-box;
    margin: 15px 0 15px 0;
    height: auto;
  }

  .blog-frame {
    display: block;
    width: 100%;
    height: 250px;
    background: transparent no-repeat center;
    background-size: cover;
    vertical-align: top;
  }

  .blog-card:hover .blog-frame {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .blog-card {
    position: relative;
    box-sizing: border-box;
    margin: 15px;
    height: auto;
    display: inline-block !important;
  }

  .blog-frame {
    display: block;
    width: 100%;
    height: 250px;
    background: transparent no-repeat center;
    background-size: cover;
    vertical-align: top;
  }

  .blog-text {
    width: 100%;
  }

  .blog-card:hover .blog-frame {
    width: 100%;
  }
}








// ---------------------------
// ---------------------------
// ---------------------------
// ------- Category ----------
// ----------Pages------------
// ---------------------------

.resource-stripe h3 {
  font-weight: 900;
  margin: 8px 0 0 0;
}

.bg-house .resource-stripe h3 { color: $color-house }
.bg-spouse .resource-stripe h3 { color: $color-spouse }
.bg-kids .resource-stripe h3 { color: $color-kids }
.bg-self .resource-stripe h3 { color: $color-self }
.bg-neutral .resource-stripe h3 { color: $color-neutral }








// ---------------------------
// ---------------------------
// ---------------------------
// --------- TO DO -----------
// ---------------------------
// ---------------------------

.content-box {
  border: solid medium $color-neutral;
  box-shadow: 0 14px 28px rgba(183, 173, 153,0.30), 0 10px 10px rgba(183, 173, 153,0.22);
  margin: 15px;
  padding: 15px 25px 15px 25px;
}

.content-box .content-box-img {
  height: 150px;
  width: calc(100% + 50px);
  margin: -15px -25px 15px -25px;
  background: transparent no-repeat center;
  background-size: cover;
}

.done .icon, .done p {
  color: $color-neutral-light;
  font-style: italic;
  text-decoration: line-through;
}

.to-do-list p {
  margin-bottom: 0px;
}

#task-show-hide > span {
    display: none
}
#task-show-hide > span:first-child {
    display: inline-block;
}
#task-show-hide:hover > span {
    display: inline-block;
}






// ---------------------------
// ---------------------------
// ---------------------------
// ------ PEOPLE PAGES -------
// ---------------------------
// ---------------------------

.sortingTarget {
  display: inline-block;
  font-family: $font-sans;
  cursor: pointer;
}

.collection-checkboxes span {
  display: block;
}

.collection-checkboxes input {
  margin-right: 10px;
}











// ---------------------------
// ---------------------------
// ---------------------------
// ---- SMALL LIST BOXES -----
// ---------------------------
// ---------------------------

.small-boxes .blog-card {
  height: auto;
  margin: 5px 0 5px 0;
  width: 100%;
}

.small-boxes h3 {
  font-weight: 900;
}

.small-boxes h5 {
  margin: 0 0 5px 0;
  font-weight: 900;
}

.small-boxes h5.font-script {
  margin-bottom: 25px;
}

.small-boxes p {
  font-size: 14px;
}

.small-boxes .small-blog-frame {
  display: inline-block;
  height: 150px;
  width: 25%;
  background: transparent no-repeat center;
  background-size: cover;
  vertical-align: top;
}

.small-boxes .blog-text {
  width: 72%;
  display: inline-block;
}

.small-boxes .blog-info {
  margin: 0;
}

.small-boxes .content-box {
  width: 100%;
  height: 150px;
}

@media screen and (max-width: 768px) {
  .small-boxes .small-blog-frame {
    height: 125px;
  }

  .small-boxes h3 {
    margin-top: 25px;
  }
}








// ---------------------------
// ---------------------------
// ---------------------------
// ------ MOBILE STYLES ------
// ---------------------------
// ---------------------------

@media screen and (max-width: 768px) {
  .over-frame-text h1 { font-size: 40px }
  .script-header { font-size: 40px }
  .blog-text { width: 100% }
  .biobox img { max-width: 150px; margin-bottom: 15px;}
}
