<div class="container">
  <h1 class="text-center font-script">Edit <%= @occasion.name %></h1>

  <%= render 'form', occasion: @occasion %>

  <%= link_to 'Show', @occasion %> |
  <%= link_to 'Back', occasions_path %>
</div>
