<div class="container">
  <h1 class="text-center color-pink font-script">Add a New Product</h1>
  <%= render 'form', solution: @solution %>

  <%= link_to 'Back', solutions_path %>
</div> <!-- container -->
