<!-- Horizontal Steppers -->
<div class="row">
  <div class="col-md-12">

    <!-- Stepers Wrapper -->
    <ul class="stepper stepper-horizontal">

      <!-- First Step -->
      <li class="inactive">
        <a href="#!">
          <span class="circle ">1</span>
          <span class="label">Shopping Cart</span>
        </a>
      </li>

      <!-- Second Step -->
      <li class="inactive">
        <a href="#!">
          <span class="circle">2</span>
          <span class="label">Info & Shipping</span>
        </a>
      </li>

      <!-- Third Step -->
      <li class="active">
        <a href="#!">
          <span class="circle">3</span>
          <span class="label">Checkout</span>
        </a>
      </li>

    </ul>
    <!-- /.Stepers Wrapper -->

  </div>
</div>
<!-- /.Horizontal Steppers -->
