<div class="container">
  <h1 class="text-center font-script">Thank you for your purchase!</h1>
  <% basket = @previous_basket %>

  <% downloadables = 0 %>
  <% custom_planners = 0 %>

  <% basket.basket_items.each do |i| %>
    <% v = i.variation %>
    <% if v.downloadable %>
      <% downloadables += 1 %>
    <% end %>
    <% if v.custom_planner %>
      <% custom_planners += 1 %>
    <% end %>
  <% end %>

  <% if downloadables > 0 %>
    <h2>Your Downloadable Goodies</h2>
    <p>Here are all the instant downloadables you purchased.  Just click the link to download them.  If you ever want them again, the'll be accessible in your account from now on as well.</p>
    <ul>
    <% basket.basket_items.each do |i| %>
      <% v = i.variation %>
      <% n = 1 %>
      <% v.downloadable_files.each do |d| %>
        <% if n = 1 %>
          <li><%= link_to v.name, rails_blob_path(d, disposition: 'attachment'), class: "color-spouse" %></li>
        <% else %>
          <li><%= link_to v.name + " (" + n.to_s + ")", rails_blob_path(d, disposition: 'attachment'), class: "color-spouse" %></li>
        <% end %>
        <% n += 1 %>
      <% end %>
    <% end %>
    </ul>
  <% end %>

  <% if custom_planners > 0 %>
    <h2>Your Custom Designs</h2>
    <p>If you purchased a custom planner, you now get to do the fun part...design it!  The button below will let you create your planner design.  If you want to leave and come back, don't worry.  It'll be accessible in your "My Account" page any time until you hit the "Submit Final Design" button.</p>
    <ul>
    <% basket.basket_items.each do |i| %>
      <% v = i.variation %>
      <% n = 1 %>
      <% if v.custom_planner %>
        <%= link_to "Design My Planner", new_planner_custom_path, class: "btn btn-danger" %>
      <% end %>
      <% n += 1 %>
    <% end %>
    </ul>
  <% end %>


</div> <!-- container -->

<div class="half-buffer"></div>
<%= render "layouts/quadborder" %>
<div class="half-buffer"></div>
