<div class="planner-form">
  <div class="container">
    <h1 class="text-center font-script color-spouse">Design Your Custom Planner</h1>

    <%= render 'form', planner_custom: @planner_custom %>

  </div> <!-- container -->
</div> <!-- planner-form -->
